.teeth-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.teeth-btn {
  position: relative;
  z-index: 2;

  justify-content: start;
  gap: 12px;

  width: 155px !important;
  padding: 10px 25px;
  font-size: 12px;
  text-transform: lowercase;
}

.teeth-btn .btn__icon-new {
  --image: url("images/icons/puzzle.svg");

  width: 21px;
  height: 21px;
}

.teeth {
  --shadow: -5px 4px 15px rgba(0, 0, 0, 0.15);
  --shadow-lg: 2px 4px 15px rgba(0, 0, 0, 0.4);

  position: relative;
  width: 162px;
  height: 220px;
  margin-bottom: 75px;
}

.teeth__main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.no-webp .teeth__main {
  background-image: image-set(
    url("images/teeth/main.png") 1x,
    url("images/teeth/main@2x.png") 2x
  );
}

.webp .teeth__main {
  background-image: image-set(
    url("images/teeth/main.webp") 1x,
    url("images/teeth/main@2x.webp") 2x
  );
}

.teeth__icon-container {
  position: absolute;
  top: 55px;
  left: 53%;
  transform: translateX(-50%);
  width: 66px;
  height: 200px;
}

.teeth__icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  opacity: 0;
}

.no-webp .teeth__icon--1 {
  background-image: image-set(
    url("images/teeth/heart-1.png") 1x,
    url("images/teeth/heart-1@2x.png") 2x
  );
}

.webp .teeth__icon--1 {
  background-image: image-set(
    url("images/teeth/heart-1.webp") 1x,
    url("images/teeth/heart-1@2x.webp") 2x
  );
}

.teeth__icon--2 {
  top: -8px;
}

.no-webp .teeth__icon--2 {
  background-image: image-set(
    url("images/teeth/heart-2.png") 1x,
    url("images/teeth/heart-2@2x.png") 2x
  );
}

.webp .teeth__icon--2 {
  background-image: image-set(
    url("images/teeth/heart-2.webp") 1x,
    url("images/teeth/heart-2@2x.webp") 2x
  );
}

.teeth__icon--3 {
  top: -6px;
}

.no-webp .teeth__icon--3 {
  background-image: image-set(
    url("images/teeth/heart-3.png") 1x,
    url("images/teeth/heart-3@2x.png") 2x
  );
}

.webp .teeth__icon--3 {
  background-image: image-set(
    url("images/teeth/heart-3.webp") 1x,
    url("images/teeth/heart-3@2x.webp") 2x
  );
}

.teeth__icon--4 {
  top: -20px;
}

.no-webp .teeth__icon--4 {
  background-image: image-set(
    url("images/teeth/heart-4.png") 1x,
    url("images/teeth/heart-4@2x.png") 2x
  );
}

.webp .teeth__icon--4 {
  background-image: image-set(
    url("images/teeth/heart-4.png") 1x,
    url("images/teeth/heart-4@2x.png") 2x
  );
}

.teeth__icon--5 {
  top: -10px;
}

.no-webp .teeth__icon--5 {
  background-image: image-set(
    url("images/teeth/heart-5.png") 1x,
    url("images/teeth/heart-5@2x.png") 2x
  );
}

.webp .teeth__icon--5 {
  background-image: image-set(
    url("images/teeth/heart-5.png") 1x,
    url("images/teeth/heart-5@2x.png") 2x
  );
}

.teeth__icon--6 {
  top: -12px;
}

.no-webp .teeth__icon--6 {
  background-image: image-set(
    url("images/teeth/heart-6.png") 1x,
    url("images/teeth/heart-6@2x.png") 2x
  );
}

.webp .teeth__icon--6 {
  background-image: image-set(
    url("images/teeth/heart-6.png") 1x,
    url("images/teeth/heart-6@2x.png") 2x
  );
}

.teeth__part {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.teeth__part--left {
  bottom: -14px;
  left: -12px;
  background-image: url("images/teeth/left.svg");
  background-size: 142px;
  filter: drop-shadow(-5px 4px 15px rgba(0, 0, 0, 0.15));
  
  border: 1px solid darkgreen;
}

.teeth__part--left-small {
  bottom: -16px;
  left: -56px;
  background-image: url("images/teeth/left-small.svg");
  background-size: 60px;
  filter: drop-shadow(-5px 4px 15px rgba(0, 0, 0, 0.15));
  
  border: 1px solid sandybrown;
}

.teeth__part--right {
  bottom: -8px;
  right: -19px;
  background-image: url("images/teeth/right.svg");
  background-size: 136px;
  
  border: 1px solid darkviolet;
}

.teeth__part--right-small {
  top: -22px;
  right: -65px;
  background-image: url("images/teeth/right-small.svg");
  background-size: 44px;
  filter: drop-shadow(2px 4px 15px rgba(0, 0, 0, 0.4));
  
  border: 1px solid firebrick;
}

.teeth__part--top-left {
  top: -90px;
  left: -18px;
  background-image: url("images/teeth/top-left.svg");
  background-size: 110px;
  filter: drop-shadow(5px 4px 15px rgba(0, 0, 0, 0.15));
  
  border: 1px solid darkturquoise;
}

.teeth__part--top-right {
  top: -93px;
  right: -32px;
  background-image: url("images/teeth/top-right.svg");
  background-size: 96px;
  filter: drop-shadow(5px 4px 15px rgba(0, 0, 0, 0.4));
  
  border: 1px solid orchid;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet) {
  .teeth {
    margin-bottom: 150px;
    transform-origin: 50% 0;
    transform: scale(1.4);
  }

  .no-webp .teeth__main {
    background-image: url("images/teeth/main--large.png");
  }

  .webp .teeth__main {
    background-image: url("images/teeth/main--large.webp");
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .teeth-btn {
    position: absolute;
    bottom: 0;
    left: var(--page-gap);
  }

  .teeth-container {
    height: 450px;
  }

  .teeth {
    margin-bottom: 0;
    transform-origin: 50% 100%;
    transform: scale(1.5);
  }

  .no-webp .teeth__main {
    background-image: image-set(
      url("images/teeth/main--large.png") 1x,
      url("images/teeth/main--large@2x.png") 2x
    );
  }

  .webp .teeth__main {
    background-image: image-set(
      url("images/teeth/main--large.webp") 1x,
      url("images/teeth/main--large@2x.webp") 2x
    );
  }

  .no-webp .teeth__icon--1 {
    background-image: image-set(
      url("images/teeth/heart-1--large.png") 1x,
      url("images/teeth/heart-1--large@2x.png") 2x
    );
  }

  .webp .teeth__icon--1 {
    background-image: image-set(
      url("images/teeth/heart-1--large.webp") 1x,
      url("images/teeth/heart-1--large@2x.webp") 2x
    );
  }

  .no-webp .teeth__icon--2 {
    background-image: image-set(
      url("images/teeth/heart-2--large.png") 1x,
      url("images/teeth/heart-2--large@2x.png") 2x
    );
  }

  .webp .teeth__icon--2 {
    background-image: image-set(
      url("images/teeth/heart-2--large.webp") 1x,
      url("images/teeth/heart-2--large@2x.webp") 2x
    );
  }

  .no-webp .teeth__icon--3 {
    background-image: image-set(
      url("images/teeth/heart-3--large.png") 1x,
      url("images/teeth/heart-3--large@2x.png") 2x
    );
  }

  .webp .teeth__icon--3 {
    background-image: image-set(
      url("images/teeth/heart-3--large.webp") 1x,
      url("images/teeth/heart-3--large@2x.webp") 2x
    );
  }

  .no-webp .teeth__icon--4 {
    background-image: image-set(
      url("images/teeth/heart-4--large.png") 1x,
      url("images/teeth/heart-4--large@2x.png") 2x
    );
  }

  .webp .teeth__icon--4 {
    background-image: image-set(
      url("images/teeth/heart-4--large.webp") 1x,
      url("images/teeth/heart-4--large@2x.webp") 2x
    );
  }

  .no-webp .teeth__icon--5 {
    background-image: image-set(
      url("images/teeth/heart-5--large.png") 1x,
      url("images/teeth/heart-5--large@2x.png") 2x
    );
  }

  .webp .teeth__icon--5 {
    background-image: image-set(
      url("images/teeth/heart-5--large.webp") 1x,
      url("images/teeth/heart-5--large@2x.webp") 2x
    );
  }

  .no-webp .teeth__icon--6 {
    background-image: image-set(
      url("images/teeth/heart-6--large.png") 1x,
      url("images/teeth/heart-6--large@2x.png") 2x
    );
  }

  .webp .teeth__icon--6 {
    background-image: image-set(
      url("images/teeth/heart-6--large.webp") 1x,
      url("images/teeth/heart-6--large@2x.webp") 2x
    );
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop) {
  .teeth-container {
    position: static;
    height: auto;
  }

  .teeth-btn {
    bottom: 30px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .teeth {
    width: 422px;
    height: 572px;

    transform-origin: 0 50%;
    transform: scale(0.8);
  }

  .teeth__icon-container {
    top: 148px;
    width: 180px;
  }

  .teeth__icon--1 {
    top: 20px;
  }

  .teeth__part--left {
    bottom: -34px;
    left: -33px;
    background-size: 368px;
    filter: drop-shadow(-10px 4px 15px rgba(0, 0, 0, 0.25));
  }

  .teeth__part--left-small {
    bottom: -45px;
    left: -145px;
    background-size: 160px;
    filter: drop-shadow(-10px 4px 15px rgba(0, 0, 0, 0.2));
  }

  .teeth__part--right {
    bottom: -28px;
    right: -53px;
    background-size: 344px;
  }

  .teeth__part--right-small {
    top: -42px;
    right: -165px;
    background-size: 126px;
    filter: drop-shadow(2px 4px 10px rgba(0, 0, 0, 0.4));
  }

  .teeth__part--top-left {
    top: -230px;
    left: -45px;
    background-size: 300px;
    filter: drop-shadow(10px 4px 15px rgba(0, 0, 0, 0.4));
  }

  .teeth__part--top-right {
    top: -241px;
    right: -84px;
    background-size: 254px;
    filter: drop-shadow(10px 4px 15px rgba(0, 0, 0, 0.4));
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-lg) {
  .teeth {
    transform: scale(1);
  }
}
