/* noinspection CssInvalidMediaFeature */
@media screen and (--only-mobile-tablet) {
  .footer-header {
    display: none;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .footer-header .header__logo {
    grid-column: 1/3;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop) {
  .footer-header {
    padding-bottom: 0;
  }

  .footer-header.is-small {
    left: auto;
  }

  .footer-header.is-small .header__logo {
    opacity: 0;
    visibility: hidden;
  }
}
