.footer-header {
  position: static;
  margin-bottom: 60px;
}

.footer-header .header__container {
  padding: var(--pd-y) 0 0;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .footer-header {
    position: absolute;
    margin-bottom: 0;
  }

  .footer-header .header__container {
    padding: var(--pd-y) 20px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop) {
  .footer-header .header__container {
    padding: var(--pd-y) 40px;
  }

  .footer-header.is-small {
    left: auto;
  }

  .footer-header.is-small .header__logo {
    opacity: 0;
    visibility: hidden;
  }
}
