.footer-header {
  position: static;
  margin-bottom: 60px;
  padding: 30px 0 0;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .footer-header {
    position: absolute;
    padding: 30px 20px;
    margin-bottom: 0;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop) {
  .footer-header {
    padding: 40px;
  }

  .footer-header.is-small {
    left: auto;
  }

  .footer-header.is-small .header__logo {
    opacity: 0;
    visibility: hidden;
  }
}
