.page-footer {
  position: relative;
  display: grid;
  padding: 0 var(--page-gap);
  background-color: var(--c-light-blue);
}

.page-footer__anchor {
  position: absolute;
  top: -100px;
}

.page-footer__to-top {
  justify-self: center;
  margin-bottom: 20px;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--only-mobile-tablet) {
  .page-footer__social {
    display: none;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .page-footer {
    grid-template-columns: 500px 1fr;
    grid-template-rows: 1fr auto;
    padding: 0;
    overflow: hidden;
  }

  .page-footer__to-top {
    display: none;
  }
  
  .page-footer__social {
    position: absolute;
    bottom: 10%;
    right: 40px;
    z-index: 1;
  }

  .footer {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .footer-map {
    grid-row: 1/3;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop) {
  .page-footer {
    height: max(840px, 94vh);
  }
  
  .page-footer .footer {
    position: relative;
    z-index: 2;
  }
}
