.page-footer {
  position: relative;
  display: grid;
  padding: 0 var(--page-gap);
  background-color: var(--c-light-blue);
}

.page-footer__anchor {
  position: absolute;
  top: -100px;
}

.page-footer__to-top {
  justify-self: center;
  margin-bottom: 20px;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .page-footer {
    grid-template-columns: 500px 1fr;
    padding: 0;
  }
  
  .page-footer__to-top {
    display: none;
  }
  
  .footer {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  
  .footer-map {
    grid-row: 1/3;
  }
}
