<section class="catalog-banner  catalog-banner--children  js-scrolltrigger-fadein">
  <div class="catalog-banner__bg">
    <div class="catalog-banner__noise"></div>
  </div>

  <div class="catalog-banner__conner">
    <svg fill="none" viewBox="0 0 214 187">
      <path fill="url(#paint0_linear)"
            d="M214 0L0 183s11.96-3.5 29-3.5c47.5 0 98.96 22.12 133-10 22.5-21.23 19.5-70 31-117.5 7.27-30.04 21-52 21-52z"/>
      <defs>
        <linearGradient id="paint0_linear" x1="92.5" x2="124.5" y1="93" y2="131.5" gradientUnits="userSpaceOnUse">
          <stop stop-color="#D9D9D9"/>
          <stop offset="1" stop-color="#fff"/>
        </linearGradient>
      </defs>
    </svg>
  </div>

  <div class="catalog-banner__body">
    <h3 class="catalog-banner__title">Наши работы и цены</h3>
    <p class="catalog-banner__describe">Посмотрите каталог, чтобы ознакомиться с примерами работ и стоимостью услуг.</p>
    <a href="" class="catalog-banner__link  btn  btn--full-w" target="_blank">Посмотреть каталог</a>
  </div>

  <div class="catalog-banner__bg-img"></div>
</section>
