<section class="catalog-banner  catalog-banner--children  js-scrolltrigger-fadein">
  <div class="catalog-banner__noise"></div>

  <div class="catalog-banner__body">
    <h3 class="catalog-banner__title">Наши работы и цены</h3>
    <p class="catalog-banner__describe">Посмотрите каталог, чтобы ознакомиться с примерами работ и стоимостью услуг.</p>
    <a href="" class="catalog-banner__link  btn  btn--pink  btn--full-w" target="_blank">Посмотреть каталог</a>
  </div>

  <div class="catalog-banner__bg"></div>
</section>
