<main class="page-main">
  <article class="block-children-service">
    <include src="children-service/welcome.html"></include>
    <include src="children-service/anchor-nav.html"></include>
    <include src="children-service/features/index.html"></include>
    <include src="children-service/services/index.html"></include>
    <include src="children-service/steps.html"></include>
    <include src="children-service/qa.html"></include>
    <include src="children-service/reviews.html"></include>
    <include src="children-service/catalog-banner.html"></include>
  </article>
</main>
