<section class="children-qa">
  <div class="wrapper">
    <h2 class="children-qa__title  title">Вопросы
      и ответы</h2>
    <div class="children-qa__hand"></div>

    <div class="children-qa__list">
      <article class="qa-card  accordion  js-accordion">
        <h2 class="qa-card__title  accordion__head">
          <button class="qa-card__btn-accordion  accordion__btn  js-accordion-btn" type="button" aria-expanded="false">Оу, это же аккордион!<span class="accordion__icon"></span>
          </button>
        </h2>

        <div class="accordion__body  js-accordion-content">
          <p class="qa-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque dolorem expedita perspiciatis placeat quibusdam rem! Aperiam aspernatur doloribus est magni quo tenetur vel. Cupiditate eligendi ipsa laborum quas saepe!</p>
          <p class="qa-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque dolorem expedita perspiciatis placeat quibusdam rem! Aperiam aspernatur doloribus est magni quo tenetur vel. Cupiditate eligendi ipsa laborum quas saepe!</p>
          <p class="qa-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque dolorem expedita perspiciatis placeat quibusdam rem! Aperiam aspernatur doloribus est magni quo tenetur vel. Cupiditate eligendi ipsa laborum quas saepe!</p>
        </div>
      </article>
      <article class="qa-card  accordion  js-accordion">
        <h2 class="qa-card__title  accordion__head">
          <button class="qa-card__btn-accordion  accordion__btn  js-accordion-btn" type="button" aria-expanded="false">Оу, это же аккордион!<span class="accordion__icon"></span>
          </button>
        </h2>

        <div class="accordion__body  js-accordion-content">
          <p class="qa-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque dolorem expedita perspiciatis placeat quibusdam rem! Aperiam aspernatur doloribus est magni quo tenetur vel. Cupiditate eligendi ipsa laborum quas saepe!</p>
          <p class="qa-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque dolorem expedita perspiciatis placeat quibusdam rem! Aperiam aspernatur doloribus est magni quo tenetur vel. Cupiditate eligendi ipsa laborum quas saepe!</p>
          <p class="qa-card__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto atque dolorem expedita perspiciatis placeat quibusdam rem! Aperiam aspernatur doloribus est magni quo tenetur vel. Cupiditate eligendi ipsa laborum quas saepe!</p>
        </div>
      </article>
    </div>
  </div>
</section>
