<section id="reviews-block" class="children-reviews">
  <h2 class="children-reviews__title title">Что говорят родители?</h2>
  <div class="slider-controls">
<!--    <div class="slider-pagination" aria-label="Прогресс слайдера:"></div>-->
    <button class="slider-btn  slider-btn--prev" type="button" aria-label="Предыдущий слайд."></button>
    <button class="slider-btn  slider-btn--next" type="button" aria-label="Следующий слайд.">
      <svg class="circle-progress-bar" width="50" height="50" aria-hidden="true">
        <circle cx="25" cy="25" r="24.6" fill="transparent" stroke-width="1"></circle>
      </svg>
    </button>
  </div>

  <div class="children-reviews-slider">
    <div class="children-reviews-slider__slides">
      <article class="children-review">
        <header class="children-review__header">
          <h3 class="children-review__title">Татьяна</h3>
          <!--
            Атрибут datetime ожидает дату в формате yyyy-mm-dd
            Если нет возможности так выводить, то замените на <span> и удалите атрибут datetime
          -->
          <time class="children-review__date" datetime="2011-11-18">20 Ноября 2020</time>
        </header>

        <div class="children-review__describe">
          <p>Спасибо Наталье Геннадьевне Клебановой и Чернышевой Юлии Николаевне, а так же всей команде, кто принимал участие в лечении моей дочки в наркозе. Очень рада что в Москве есть место, где можно.</p>
        </div>

        <button class="children-review__more  btn  btn--dark js-modal-open  js-feedback-open" data-id="1">Раскрыть отзыв</button>
      </article>
    </div>

    <div class="children-reviews-slider__controls  slider-controls">
      <div class="slider-pagination" aria-label="Прогресс слайдера:"></div>

      <button class="slider-btn  slider-btn--prev" type="button" aria-label="Предыдущий слайд."></button>
      <button class="slider-btn  slider-btn--next" type="button" aria-label="Следующий слайд.">
        <svg class="circle-progress-bar" width="50" height="50" aria-hidden="true">
          <circle cx="25" cy="25" r="24.6" fill="transparent" stroke-width="1"></circle>
        </svg>
      </button>
    </div>

    <div class="swiper-scrollbar"></div>
  </div>
</section>
