<section class="children-reviews">
  <h2 class="children-reviews__title"></h2>

  <div class="children-reviews__controls">
    <button class="prev" type="button">prev</button>
    <button class="next" type="button">next</button>
  </div>

  <div class="children-reviews__slider">
    <article class="children-review">
      <header class="children-review__header">
        <h3 class="children-review__title"></h3>
        <time class="children-review__date"></time>
      </header>

      <div class="children-review__describe"></div>

      <button class="children-review__more">Раскрыть отзыв</button>
    </article>
  </div>
</section>
