<section class="children-steps  js-scrolltrigger-fadein">
  <div class="children-steps__img">
    <picture>
      <!--  Mobile  -->
      <!--      <source type="image/webp" media="(max-width: 500px)" srcset="images/founder-picture@2x.webp 2x, images/founder-picture.webp">-->
      <source media="(max-width: 500px)"
              srcset="images/children-service/steps-image@2x.jpg 2x, images/children-service/steps-image.jpg">
      <!--     Other     -->
      <!--      <source type="image/webp" srcset="images/founder-picture&#45;&#45;large.webp 2x, images/founder-picture&#45;&#45;large.webp">-->
      <source
        srcset="images/children-service/steps-image--large@2x.jpg 2x, images/children-service/steps-image--large.jpg">
      <!--    Сюда можно вставлять ссылку на оригинал      -->
      <img class="children-steps__picture" src="images/children-service/steps-image.jpg" width="458" height="561" alt=""
           loading="lazy">
    </picture>
  </div>
  <div class="children-steps__body">
    <h2 class="children-steps__title  title"><span class="number">3</span> шага на пути к доктору</h2>

    <div class="children-steps-list-wrapper">
      <div class="step-progress-wrapper">
        <div class="step-progress  step-line--1">
          <div class="step-progress__circle"></div>
          <div class="step-progress__line"></div>
        </div>
        <div class="step-progress  step-line--2">
          <div class="step-progress__circle"></div>
          <div class="step-progress__line"></div>
        </div>
        <div class="step-progress  step-line--3">
          <div class="step-progress__circle"></div>
        </div>
      </div>

      <ol class="children-steps-list  list-unstyled">
        <li class="children-steps-list-item">
          <h4 class="children-steps-list-item__title">Планирование</h4>
          <p class="children-steps-list-item__describe">Первый визит посвятите только осмотру, чтобы ребенок привык к
            новой обстановке и познакомился с врачом. Можно сказать ребенку, что вы идете почистить или посчитать
            зубки.</p>
        </li>

        <li class="children-steps-list-item">
          <h4 class="children-steps-list-item__title">Беседа</h4>
          <p class="children-steps-list-item__describe">Важно правильно настроить малыша на посещение стоматолога.
            Поговорите о том, что делает врач, но без лишних слов о боли или страхе. Не стоит рассказывать во всех
            подробностях, что будут делать укол и сверлить зуб.</p>
        </li>

        <li class="children-steps-list-item  children-steps-list-item--hand">
          <h4 class="children-steps-list-item__title">Самоконтроль</h4>
          <p class="children-steps-list-item__describe">Детям не стоит видеть, что родители переживают. Постарайтесь
            сохранять спокойствие до приема и во время него.</p>
        </li>
      </ol>
    </div>
  </div>
</section>
