<section class="children-welcome">
  <div class="children-welcome__hands"></div>

  <div class="children-welcome__body">
    <h2 class="children-welcome__title  title">Детская стоматология</h2>
    <p class="children-welcome__text">Ухаживать за детскими зубами нужно начинать с самого раннего возраста. Наши врачи
      проведут лечение без боли и стресса для малыша, а также сделают все возможное, чтобы ребенок не боялся стоматолога
      и уходил с приема в хорошем настроении.</p>

    <include src="components/btn-form-appointment.html">
      {
        "class": "btn--aqua  btn--center-sm",
        "text": "Записаться на прием"
      }
    </include>
  </div>
</section>
