<main class="page-main  page-main--information">
  <h1 class="page-title">Юридическая информация</h1>

  <section class="information-name">
    <h2 class="information-name__title">Клиника “Щукинская”</h2>

    <div class="information-name__container">
      <dl class="describe-list">
        <div class="describe-list__item">
          <dt class="describe-list__title">Название компании</dt>
          <dd class="describe-list__describe">ООО «Центр дентальной травматологии»</dd>
        </div>

        <div class="describe-list__item">
          <dt class="describe-list__title">Юридический адрес</dt>
          <dd class="describe-list__describe">129128, г. Москва, проезд Кадомцева,
            д.15, пом.3, комн.16
          </dd>
        </div>

        <div class="describe-list__item">
          <dt class="describe-list__title">Реквизиты</dt>
          <dd class="describe-list__describe">ИНН 7734695253<br>ОГРН 1137746098720</dd>
        </div>

        <div class="describe-list__item">
          <dt class="describe-list__title">Учредители</dt>
          <dd class="describe-list__describe">
            <ul class="describe-list__inner-list  list-unstyled">
              <li class="describe-list__inner-list-item">Тишкина Ольга Сергеевна, 23.11.1979г.</li>
              <li class="describe-list__inner-list-item">Болячин Алексей Вячеславович, 21.12.1970г.</li>
              <li class="describe-list__inner-list-item">Табакова Марина Викторовна, 18.07.1968г.</li>
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </section>

  <section class="information-departments  information-departments--left  js-scrolltrigger-fadein">
    <div class="information-departments__body">
      <h2 class="information-departments__title">Органы исполнительной власти в сфере охраны здоровья граждан</h2>
      <dl class="describe-list  describe-list--second">
        <div class="describe-list__item">
          <dt class="describe-list__title">Министерство здравоохранения Российской Федерации</dt>
          <dd class="describe-list__describe">
            <span>8 800 550 99 03, (495) 627-24-00</span>
            <span>ГСП-4, г. Москва, Рахмановский пер, д. 3</span>
          </dd>
        </div>
        <div class="describe-list__item">
          <dt class="describe-list__title">Департамент здравоохранения города Москвы</dt>
          <dd class="describe-list__describe">
            <span>8 499 251-83-00</span>
            <span>127006, г. Москва, Оружейный переулок, д. 43</span>
          </dd>
        </div>
        <div class="describe-list__item">
          <dt class="describe-list__title">Территориальный отдел Управления Роспотребнадзора по городу Москве в СЕВЕРО-
            ЗАПАДНОМ АО города Москвы
          </dt>
          <dd class="describe-list__describe">
            <span>8-499-190-15-61</span>
            <span>123182, г. Москва, ул. Академика Курчатова, д.17.</span>
          </dd>
        </div>
      </dl>
    </div>
    <div class="information-departments__img">
      <picture>
        <!--  Mobile  -->
        <source type="image/webp" media="(max-width: 500px)"
                srcset="images/information/border-image-1@2x.webp 2x, images/information/border-image-1.webp">
        <source media="(max-width: 500px)" srcset="images/information/border-image-1@2x.jpg 2x, images/information/border-image-1.jpg">
        <!--     Other     -->
        <source type="image/webp" srcset="images/information/border-image-1--large.webp 2x, images/information/border-image-1--large.webp">
        <source srcset="images/information/border-image-1--large.jpg 2x, images/information/border-image-1--large.jpg">
        <!--    Сюда можно вставлять ссылку на оригинал      -->
        <img class="information-departments__picture" src="images/information/border-image-1.jpg" width="417" height="564" alt=""
             loading="lazy">
      </picture>
    </div>
  </section>

  <section class="information-name  js-scrolltrigger-fadein">
    <h2 class="information-name__title">Клиника “Октябрьская (Парк Горького)”</h2>

    <div class="information-name__container">
      <dl class="describe-list">
        <div class="describe-list__item">
          <dt class="describe-list__title">Название компании</dt>
          <dd class="describe-list__describe">ООО «Центр дентальной травматологии»</dd>
        </div>

        <div class="describe-list__item">
          <dt class="describe-list__title">Юридический адрес</dt>
          <dd class="describe-list__describe">129128, г. Москва, проезд Кадомцева,
            д.15, пом.3, комн.16
          </dd>
        </div>

        <div class="describe-list__item">
          <dt class="describe-list__title">Реквизиты</dt>
          <dd class="describe-list__describe">ИНН 7734695253<br>ОГРН 1137746098720</dd>
        </div>

        <div class="describe-list__item">
          <dt class="describe-list__title">Учредители</dt>
          <dd class="describe-list__describe">
            <ul class="describe-list__inner-list  list-unstyled">
              <li class="describe-list__inner-list-item">Тишкина Ольга Сергеевна, 23.11.1979г.</li>
              <li class="describe-list__inner-list-item">Болячин Алексей Вячеславович, 21.12.1970г.</li>
              <li class="describe-list__inner-list-item">Табакова Марина Викторовна, 18.07.1968г.</li>
            </ul>
          </dd>
        </div>
      </dl>
    </div>
  </section>

  <section class="information-departments  js-scrolltrigger-fadein">
    <div class="information-departments__body">
      <h2 class="information-departments__title">Органы исполнительной власти в сфере охраны здоровья граждан</h2>
      <dl class="describe-list  describe-list--second">
        <div class="describe-list__item">
          <dt class="describe-list__title">Министерство здравоохранения Российской Федерации</dt>
          <dd class="describe-list__describe">
            <span>8 800 550 99 03, (495) 627-24-00</span>
            <span>ГСП-4, г. Москва, Рахмановский пер, д. 3</span>
          </dd>
        </div>
        <div class="describe-list__item">
          <dt class="describe-list__title">Департамент здравоохранения города Москвы</dt>
          <dd class="describe-list__describe">
            <span>8 499 251-83-00</span>
            <span>127006, г. Москва, Оружейный переулок, д. 43</span>
          </dd>
        </div>
        <div class="describe-list__item">
          <dt class="describe-list__title">Территориальный отдел Управления Роспотребнадзора по городу Москве в СЕВЕРО-
            ЗАПАДНОМ АО города Москвы
          </dt>
          <dd class="describe-list__describe">
            <span>8-499-190-15-61</span>
            <span>123182, г. Москва, ул. Академика Курчатова, д.17.</span>
          </dd>
        </div>
      </dl>
    </div>
    <div class="information-departments__img">
      <picture>
        <!--  Mobile  -->
        <source type="image/webp" media="(max-width: 500px)"
                srcset="images/information/border-image-2@2x.webp 2x, images/information/border-image-2.webp">
        <source media="(max-width: 500px)" srcset="images/information/border-image-2@2x.jpg 2x, images/information/border-image-2.jpg">
        <!--     Other     -->
        <source type="image/webp" srcset="images/information/border-image-2--large.webp 2x, images/information/border-image-2--large.webp">
        <source srcset="images/information/border-image-2--large.jpg 2x, images/information/border-image-2--large.jpg">
        <!--    Сюда можно вставлять ссылку на оригинал      -->
        <img class="information-departments__picture" src="images/information/border-image-2.jpg" width="432" height="564" alt=""
             loading="lazy">
      </picture>
    </div>
  </section>

  <section class="document-section  document-section--information  js-scrolltrigger-fadein">
    <h2 class="document-section__title">Документы</h2>

    <ul class="document-section-list  list-unstyled">
      <li class="document-section-list__item"><a href="" class="document-section-list__item-link" target="_blank"><span
        class="document-section-list__item-icon"></span><span class="document-section-list__item-name  truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, modi, ratione? Accusantium, aliquam amet cupiditate dolorum ducimus, ea esse ex, fugiat id ipsa itaque molestias mollitia obcaecati quas quis sint.</span></a>
      </li>
      <li class="document-section-list__item"><a href="" class="document-section-list__item-link" target="_blank"><span
        class="document-section-list__item-icon"></span><span
        class="document-section-list__item-name  truncate">lorem</span></a>
      </li>
      <li class="document-section-list__item"><a href="" class="document-section-list__item-link" target="_blank"><span
        class="document-section-list__item-icon"></span><span class="document-section-list__item-name  truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquid, beatae consectetur fuga impedit iusto modi nesciunt nihil, officiis pariatur provident quasi recusandae repudiandae, sed suscipit? Omnis pariatur rerum veritatis.</span></a>
      </li>
      <li class="document-section-list__item"><a href="" class="document-section-list__item-link" target="_blank"><span
        class="document-section-list__item-icon"></span><span
        class="document-section-list__item-name  truncate">lorem</span></a>
      </li>
      <li class="document-section-list__item"><a href="" class="document-section-list__item-link" target="_blank"><span
        class="document-section-list__item-icon"></span><span
        class="document-section-list__item-name  truncate">lorem</span></a>
      </li>
    </ul>
  </section>

  <section id="reviews-block" class="information-reviews  js-scrolltrigger-fadein">
    <h2 class="information-reviews__title">Лицензии и сертификаты</h2>
    <div class="slider-controls">
      <button class="slider-btn  slider-btn--prev" type="button" aria-label="Предыдущий слайд."></button>
      <button class="slider-btn  slider-btn--next" type="button" aria-label="Следующий слайд.">
        <svg class="circle-progress-bar" width="50" height="50" aria-hidden="true">
          <circle cx="25" cy="25" r="24.6" fill="transparent" stroke-width="1"></circle>
        </svg>
      </button>
    </div>

    <div class="information-reviews-slider">
      <div class="information-reviews-slider__slides"  data-photoswipe-gallery>
        <article class="information-review">
          <figure>
            <button type="button" data-photoswiper-item>
              <img src="/images/__dev-licence.jpg" alt="Лицензия № ЛО-77-01-016286 от 28 июня 2018 г." width="445"
                   height="633">
            </button>
            <figcaption>Лицензия № ЛО-77-01-016286 от 28 июня 2018 г.</figcaption>
          </figure>
        </article>
        <article class="information-review">
          <figure>
            <button type="button" data-photoswiper-item>
              <img src="/images/__dev-licence-2.jpg" alt="Лицензия от 28 июня 2018 г." width="445"
                   height="633">
            </button>
            <figcaption>Лицензия от 28 июня 2018 г.</figcaption>
          </figure>
        </article>
        <article class="information-review">
          <figure>
            <button type="button" data-photoswiper-item>
              <img src="/images/__dev-licence-3.jpg" alt="Лицензия № ЛО-77-01-016286 от 28 июня 2018 г." width="445"
                   height="633">
            </button>
            <figcaption>Лицензия № ЛО-77-01-016286 от 28 июня 2018 г.</figcaption>
          </figure>
        </article>
        <article class="information-review">
          <figure>
            <button type="button" data-photoswiper-item>
              <img src="/images/__dev-licence.jpg" alt="Лицензия № ЛО-77-01-016286 от 28 июня 2018 г." width="445"
                   height="633">
            </button>
            <figcaption>Лицензия № ЛО-77-01-016286 от 28 июня 2018 г.</figcaption>
          </figure>
        </article>

      </div>

      <div class="information-reviews-slider__controls  slider-controls">
        <div class="slider-pagination" aria-label="Прогресс слайдера:"></div>

        <button class="slider-btn  slider-btn--prev" type="button" aria-label="Предыдущий слайд."></button>
        <button class="slider-btn  slider-btn--next" type="button" aria-label="Следующий слайд.">
          <svg class="circle-progress-bar" width="50" height="50" aria-hidden="true">
            <circle cx="25" cy="25" r="24.6" fill="transparent" stroke-width="1"></circle>
          </svg>
        </button>
      </div>

      <div class="swiper-scrollbar"></div>
    </div>
  </section>


</main>
