*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: var(--c-blue-deep);
  font-family: Montserrat, Avenir, Helvetica, Arial, sans-serif;
}

button {
  cursor: pointer;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet) {
  body {
    font-size: 1.125rem;
  }
}
