body {
  --page-gap: 15px;
  --trans-dur: 0.3s;
  --page-top-gap: 154px;

  /* fonts */
  --letter-spacing: 0.08px;

  /* colors */
  --c-light-grey: #f8f8f8;
  --c-grey: #f8f8f8;
  --c-deep-blue: #3c3d75;
  --c-deep-blue-darken: #33386f;
  --c-light-blue: #e9edf8;
  --c-sky-blue: #edf0f8;
  --c-sky-blue__old: #abd8fd;
  --c-red: #f66;
  --c-pink: #ff9090;
  --c-aqua-light: #abdde9;
  --c-aqua: #6cb2c3;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet) {
  body {
    --page-gap: 30px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  body {
    --page-gap: 30px;
    --inner-gap: min(6vw, 145px);
    --deep-gap: calc(var(--page-gap) + var(--inner-gap));
    --gap-feedback: 5vw;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop) {
  body {
    --page-gap: 50px;
    --page-top-gap: 148px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-md) {
  body {
    --inner-gap: min(8vw, 145px);
    --gap-feedback: 10vw;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-lg) {
  body {
    --page-gap: 100px;
    --gap-feedback: min(16vw, 290px);
  }
}
