body {
  --page-gap: 15px;
  --trsdu: 0.3s; /* TODO: удалить */
  --trans-dur: 0.3s;
  
  /* fonts */
  --letter-spacing: 0.08px;
  
  /* colors */
  --c-light-grey: #f8f8f8;
  --c-deep-blue: #333570;
  --c-light-blue: #e9edf8;
  --c-sky-blue: #abd8fd;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet) {
  body {
    --page-gap: 30px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  body {
    --page-gap: 30px;
    --inner-gap: min(6vw, 145px);
    --deep-gap: calc(var(--page-gap) + var(--inner-gap));
    --gap-feedback: 5vw;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop) {
  body {
    --page-gap: 50px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-md) {
  body {
    --inner-gap: min(8vw, 145px);
    --gap-feedback: 10vw;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-lg) {
  body {
    --page-gap: 100px;
    --gap-feedback: min(16vw, 290px);
  }
}
