.block-services {
  position: relative;
  z-index: 5;
}

.block-services::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100px;
  filter: drop-shadow(10px -4px 20px rgba(0, 0, 0, 0.15));
}

.block-services__container {
  position: relative;
  z-index: 1;
  padding: 58px var(--page-gap) 0;
}

.block-services::before,
.block-services__container {
  background-color: #fff;
  border-radius: 20px 20px 0 0;
}

.block-services__title {
  margin-bottom: 40px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.block-services__list {
  --card-size: calc(100vw - (var(--page-gap) * 2));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, var(--card-size)), 1fr));
  grid-gap: 10px;
  margin-bottom: 68px;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--w448) {
  .block-services__list {
    --card-size: 290px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .block-services::before {
    filter: drop-shadow(10px -4px 20px rgba(0, 0, 0, 0.25));
  }

  .block-services__container {
    padding-top: 122px;
    padding-bottom: 100px;
  }

  .block-services::before,
  .block-services__container {
    border-radius: 42px 42px 0 0;
  }

  .block-services__title {
    margin-bottom: 90px;
    font-size: 36px;
    line-height: unset;
  }

  .block-services__list {
    --card-size: 560px;

    grid-template-columns: repeat(auto-fill, minmax(min(40%, var(--card-size)), 1fr));
    gap: 32px;
  }

  .block-services__item {
    --bdrs: 20px;
    border-radius: var(--bdrs);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0);

    transition-property: transform, box-shadow;
    transition-duration: var(--trans-dur);
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-md) {
  .block-services__list {
    grid-template-columns: repeat(auto-fill, minmax(min(30%, var(--card-size)), 1fr));
  }
}
