.service-card {
  --size: var(--card-size);

  position: relative;
  width: 100%;

  min-height: 90px;
  border-radius: 10px;
}

.service-card__container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(auto, 110px) minmax(1px, 1fr);
  column-gap: 20px;
  align-items: center;

  width: 100%;
  height: 100%;
  min-height: inherit;
  padding: 10px;
  padding-left: 0;
  background-color: var(--c-grey, #f8f8f8);

  border-radius: inherit;
  overflow: hidden;
  z-index: 2;
}

.service-card__icon {
  position: relative;
  width: 100%;
  height: 100%;
}

.service-card__icon::after {
  position: absolute;
  top: 50%;
  left: 0;
  width: 400%;
  height: 500%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  /*
   * хак для safari
   * убирает блур у бг свг
  */
  transform-origin: 0 0;
  transform: scale(0.25) translate3d(0, -50%, 0.01px);
}

.service-card__icon--flower::after {
  content: "";
  top: 51%;
  background-image: url("/images/service/icon-flower.svg");
}

.service-card__icon--cup::after {
  content: "";
  top: 55%;
  background-image: url("/images/service/icon-cup.svg");
}

.service-card__icon--hand::after {
  content: "";
  top: 60%;
  background-image: url("/images/service/icon-hand.svg");
}

.service-card__icon--apple::after {
  content: "";
  top: 40%;
  background-image: url("/images/service/icon-apple.svg");
}

.service-card__icon--teeth::after {
  content: "";
  top: 55%;
  background-image: url("/images/service/icon-teeth.svg");
}

.service-card__icon--castle::after {
  content: "";
  top: 55%;
  background-image: url("/images/service/icon-castle.svg");
}

.service-card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-card__title {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  white-space: pre-line;
}

.service-card__describe {
  display: none;
  line-height: 1.3;
}

.service-card__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  background-color: transparent;
  border: 0;
  z-index: 2;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet) {
  .service-card__title {
    font-size: 22px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .service-card {
    height: 360px;

    border-radius: var(--bdrs, 20px);
    word-break: break-word;
  }

  .service-card::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: inherit;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity var(--trans-dur);
  }

  .service-card:hover::after {
    opacity: 1;
  }

  .service-card__container {
    grid-template-columns: minmax(auto, 320px) minmax(1px, 1fr);
    grid-auto-flow: column;
    align-items: center;

    padding: 100px 0 44px 44px;

    transition-property: color, background-color;
    transition-duration: var(--trans-dur);
  }

  .service-card:hover .service-card__container {
    color: #fff;
    background-color: var(--c-blue-deep);
  }

  .service-card__icon {
    transition: transform var(--trans-dur) 100ms;
  }

  .service-card:hover .service-card__icon {
    transform: translate3d(10px, -10px, 0);
  }

  .service-card__icon::after {
    --size-mod: 0.6;
    --width: 1px;

    width: calc(var(--width) * var(--size-mod) * 4);
    height: 1000%;
    background-size: 100%;
  }

  .service-card__icon--flower::after {
    --width: 400px;

    top: 50%;
    left: -50px;
    background-image: url("/images/service/icon-flower--large.svg");
  }

  .service-card__icon--cup::after {
    --width: 386px;

    top: 40%;
    left: -55px;
    background-image: url("/images/service/icon-cup--large.svg");
  }

  .service-card__icon--hand::after {
    --width: 207px;

    top: 86%;
    left: -20px;
    background-image: url("/images/service/icon-hand--large.svg");
  }

  .service-card__icon--apple::after {
    --width: 620px;

    top: -10%;
    left: -150px;
    background-image: url("/images/service/icon-apple--large.svg");
  }

  .service-card__icon--teeth::after {
    --width: 450px;

    top: 5%;
    left: -80px;
    background-image: url("/images/service/icon-teeth--large.svg");
  }

  .service-card__icon--castle::after {
    --width: 247px;

    top: 78%;
    left: -30px;
    background-image: url("/images/service/icon-castle--large.svg");
  }

  .service-card__body {
    grid-column: 1/2;
  }

  .service-card__title {
    margin-bottom: 34px;
    font-size: 32px;
  }

  .service-card__describe {
    display: block;
    font-size: 18px;
    line-height: 1.3;
  }

  .service-card__link {
    right: 30px;
    bottom: 30px;
    opacity: 0.1;

    transition-property: opacity;
    transition-duration: var(--trans-dur);
  }

  .service-card:hover .service-card__link {
    opacity: 1;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop) {
  .service-card__icon--castle::after {
    top: 82%;
    left: -10px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-sm) {
  .service-card__icon::after {
    --size-mod: 0.8;
  }

  .service-card__icon--apple::after {
    left: -120px;
  }

  .service-card__icon--hand::after {
    top: 75%;
    left: 0;
  }

  .service-card__icon--teeth::after {
    left: -40px;
  }

  .service-card__icon--castle::after {
    left: 45px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-md) {
  .service-card {
    height: 290px;
  }

  .service-card__container {
    grid-template-columns: minmax(auto, 255px) minmax(1px, 1fr);
    align-items: start;
    padding: 45px 0 45px 45px;
  }

  .service-card__icon::after {
    --size-mod: 0.7;
  }

  .service-card__icon--flower::after {
    top: 60%;
    left: -10px;
  }

  .service-card__icon--cup::after {
    top: 55%;
    left: -30px;
  }

  .service-card__icon--hand::after {
    top: 78%;
    left: -20px;
  }

  .service-card__icon--apple::after {
    top: 0;
    left: -140px;
  }

  .service-card__icon--teeth::after {
    top: 20%;
  }

  .service-card__icon--castle::after {
    left: -25px;
  }

  .service-card__title {
    margin-bottom: 18px;
    font-size: 28px;
  }

  .service-card__describe {
    display: block;
    font-size: 16px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-fullhd) {
  .service-card {
    height: 360px;
  }

  .service-card__container {
    grid-template-columns: minmax(auto, 320px) minmax(1px, 1fr);
    align-items: center;
    padding: 100px 0 44px 44px;
  }

  .service-card__icon::after {
    --size-mod: 1;
  }

  .service-card__icon--hand::after {
    top: 58%;
    left: -35px;
  }

  .service-card__icon--cup::after {
    top: 40%;
  }

  .service-card__icon--apple::after {
    top: -10%;
    left: -165px;
  }

  .service-card__icon--castle::after {
    left: -15px;
  }

  .service-card__title {
    margin-bottom: 34px;
    font-size: 32px;
  }

  .service-card__describe {
    display: block;
    font-size: 18px;
  }
}
