.service-card {
  --size: var(--card-size);

  position: relative;
  width: 100%;

  min-height: 90px;
  border-radius: 10px;
}

.service-card__container {
  position: relative;
  display: grid;
  grid-template-columns: minmax(auto, 110px) minmax(1px, 1fr);
  column-gap: 20px;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 10px;
  padding-left: 0;
  background-color: var(--c-grey, #f8f8f8);

  border-radius: inherit;
  overflow: hidden;
  z-index: 2;
}

.service-card__icon {
  position: relative;
  width: 100%;
  height: 100%;
}

.service-card__icon::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.service-card__icon--flower::after {
  content: url("images/service/icon-flower.svg");
  top: 4px;
  max-width: 92px;
}

.service-card__icon--cup::after {
  content: url("images/service/icon-cup.svg");
  max-width: 97px;
}

.service-card__icon--hand::after {
  content: url("images/service/icon-hand.svg");
  top: 6px;
  max-width: 106px;
}

.service-card__icon--apple::after {
  content: url("images/service/icon-apple.svg");
  top: -11px;
  max-width: 117px;
}

.service-card__icon--teeth::after {
  content: url("images/service/icon-teeth.svg");
  top: -8px;
  max-width: 96px;
}

.service-card__icon--castle::after {
  content: url("images/service/icon-castle.svg");
  top: -4px;
  max-width: 102px;
}

.service-card__body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-card__title {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  white-space: pre-line;
}

.service-card__describe {
  display: none;
  line-height: 1.3;
}

.service-card__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  font-size: 0;
  background-color: transparent;
  border: 0;
  z-index: 2;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet) {
  .service-card__title {
    font-size: 22px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .service-card {
    height: 360px;

    border-radius: var(--bdrs, 20px);
    word-break: break-word;
  }

  .service-card::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-radius: inherit;
    filter: drop-shadow(20px 20px 50px rgba(0, 0, 0, 0.1));
    opacity: 0;
    transition: opacity var(--trans-dur);
  }

  .service-card:hover::after {
    opacity: 1;
    will-change: opacity;
  }

  .service-card__container {
    grid-template-columns: minmax(auto, 320px) minmax(1px, 1fr);
    grid-auto-flow: column;
    align-items: center;

    padding: 100px 44px 44px;
    padding-right: 0;

    transition-property: color, background-color;
    transition-duration: var(--trans-dur);
  }

  .service-card:hover .service-card__container {
    color: #fff;
    background-color: var(--c-blue-deep);
  }

  .service-card__icon {
    transition: transform var(--trans-dur) 100ms;
  }

  .service-card:hover .service-card__icon {
    transform: translate3d(10px, -10px, 0);
  }

  .service-card__icon::after {
    --size-mod: 0.6;
    --width: 1px;

    width: calc(var(--width) * var(--size-mod));
    max-width: unset;
    height: auto;
  }

  .service-card__icon--flower::after {
    --width: 400px;

    content: url("images/service/icon-flower--large.svg");
    top: 50%;
    left: -50px;
    transform: translateY(-50%);
  }

  .service-card__icon--cup::after {
    --width: 386px;

    content: url("images/service/icon-cup--large.svg");
    top: 40%;
    left: -80px;
    transform: translateY(-50%);
  }

  .service-card__icon--hand::after {
    --width: 207px;

    content: url("images/service/icon-hand--large.svg");
    top: 45%;
    left: -30px;
  }

  .service-card__icon--apple::after {
    --width: 620px;

    content: url("images/service/icon-apple--large.svg");
    top: 0;
    left: -130px;
    transform: translateY(-50%);
  }

  .service-card__icon--teeth::after {
    --width: 450px;

    content: url("images/service/icon-teeth--large.svg");
    top: 5%;
    left: -80px;
    transform: translateY(-50%);
  }

  .service-card__icon--castle::after {
    --width: 247px;

    content: url("images/service/icon-castle--large.svg");
    top: 38%;
    left: -30px;
  }

  .service-card__body {
    grid-column: 1/2;
  }

  .service-card__title {
    margin-bottom: 34px;
    font-size: 32px;
  }

  .service-card__describe {
    display: block;
    font-size: 18px;
    line-height: 1.3;
  }

  .service-card__link {
    right: 30px;
    bottom: 30px;
    opacity: 0.1;

    transition-property: opacity;
    transition-duration: var(--trans-dur);
  }

  .service-card:hover .service-card__link {
    opacity: 1;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop) {
  .service-card__icon--flower::after {
    left: auto;
    right: -90px;
  }

  .service-card__icon--cup::after {
    left: auto;
    right: -70px;
  }

  .service-card__icon--hand::after {
    left: auto;
    right: -5px;
  }

  .service-card__icon--apple::after {
    top: -20%;
    left: auto;
    right: -120px;
  }

  .service-card__icon--teeth::after {
    top: 0;
    left: auto;
    right: -100px;
  }

  .service-card__icon--castle::after {
    left: auto;
    right: -40px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-sm) {
  .service-card__icon::after {
    --size-mod: 0.8;
  }

  .service-card__icon--apple::after {
    top: -10%;
    right: -180px;
  }

  .service-card__icon--hand::after {
    top: 25px;
    right: 15px;
  }

  .service-card__icon--castle::after {
    top: 10%;
    right: -50px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-md) {
  .service-card__icon::after {
    --size-mod: 1;
  }

  .service-card__icon--flower::after {
    right: -140px;
  }

  .service-card__icon--hand::after {
    top: -15px;
  }

  .service-card__icon--apple::after {
    right: -210px;
  }

  .service-card__icon--teeth::after {
    top: 15%;
    right: -160px;
  }

  .service-card__icon--castle::after {
    top: -10%;
    right: -65px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-fullhd) {
  .service-card__icon--flower::after {
    right: -210px;
  }

  .service-card__icon--cup::after {
    right: -170px;
  }

  .service-card__icon--apple::after {
    right: -270px;
  }

  .service-card__icon--teeth::after {
    right: -190px;
  }
}
