<section class="block-social-project">
  <div class="block-social-project__img">
    <div class="bg-img"></div>
    <img src="./images/logo-spasizub.svg" width="234" height="252" alt="">
  </div>

  <div class="content">
    <h2 class="content__title">Мы специализируемся в травматологии</h2>
    <p class="content__text">В 2019 году мы получили признание Международной ассоциации дентальной травматологии (IADT).
      Мы стали первой частной клиникой в России, которая восстанавливает улыбку после травм по международным
      стандартам.</p>
    <p class="content__text">Сейчас мы являемся лидером мнений в сфере стоматологической травматологии и нам направляют
      пациентов как частные клиники, так и государственные медицинские организации. С уверенностью заявляем, что
      способны восстановить первозданный вид улыбки даже в самых сложных случаях.</p>
  </div>
</section>
