<section class="block-steps">
  <h2 class="block-steps__title">Наш подход к лечению похож на архитектуру</h2>

  <div class="block-steps__slider">
    <div class="steps-slider  swiper-container">
      <div class="swiper-wrapper">
        <figure class="steps-slider__item  swiper-slide">
          <img
            srcset="
            images/__dev-img-320.jpg 320w,
            images/__dev-img.jpg"
            src="images/__dev-img.jpg"
            alt="">
          <figcaption>Эстетический этап</figcaption>
        </figure>
        <figure class="steps-slider__item  swiper-slide">
          <img
            srcset="
            images/__dev-img-2-320.jpg 320w,
            images/__dev-img-2.jpg"
            src="images/__dev-img-2.jpg"
            alt="">
          <figcaption>Эстетический этап</figcaption>
        </figure>
        <figure class="steps-slider__item  swiper-slide">
          <img
            srcset="
            images/__dev-img-3-320.jpg 320w,
            images/__dev-img-3.jpg"
            src="images/__dev-img-3.jpg"
            alt="">
          <figcaption>Эстетический этап</figcaption>
        </figure>
      </div>

      <div class="steps-slider__controls  swiper-controls">
        <div class="swiper-pagination"></div>
        <!--   TODO: Сделать иконки через инлайновый спрайт (как минимум 3 раза используется)   -->
        <button class="btn-slider  btn-slider--prev" type="button" aria-label="Предыдущий слайд">
          <svg class="btn-slider__icon" width="15" height="15">
            <rect width="1" height="10" rx=".5" transform="scale(1 -1) rotate(45 20.607 1.465)"/>
            <rect width="1" height="10" rx=".5" transform="scale(-1 1) rotate(-45 -3.035 9.743)"/>
          </svg>

        </button>
        <button class="btn-slider  btn-slider--next" type="button" aria-label="Следующий слайд">
          <svg class="btn-slider__icon" width="15" height="15">
            <rect width="1" height="10" rx=".5" transform="scale(1 -1) rotate(45 20.607 1.465)"/>
            <rect width="1" height="10" rx=".5" transform="scale(-1 1) rotate(-45 -3.035 9.743)"/>
          </svg>
          <svg class="circle-progress-bar" width="50" height="50">
            <circle cx="25" cy="25" r="24.6" fill="transparent" stroke-width="1"></circle>
          </svg>
        </button>
      </div>
    </div>
  </div>

  <div class="content">
    <h2 class="content__title">Наш подход к лечению похож на архитектуру</h2>
    <p class="content__text"><strong>Этап диагностики и планирования - </strong>позволит вам заглянуть в будущее и
      примерить макет будущей улыбки, понять сроки и стоимость лечения. А нам позволяет выработать план действий,
      который приведет нас к желаемому результату самым коротким и верным путем. </p>
    <p class="content__text"><strong>Подготовительный этап - </strong>здоровье (устранение инфекции, связанной с
      кариесом и его осложнениями, с воспалением десен) это фундамент, основа долговечного результата. И создание
      оптимальных взаимоотношений между зубами</p>
    <p class="content__text"><strong>Эстетический этап - </strong>завершаем ваш образ созданием привлекательной
      естественной улыбки</p>
  </div>
</section>
