<section class="catalog-banner  catalog-banner--home  js-scrolltrigger-fadein">
  <div class="catalog-banner__bg">
    <div class="catalog-banner__noise"></div>
  </div>

  <div class="catalog-banner__body">
    <h3 class="catalog-banner__title">К нам приезжают из других городов и стран!</h3>
    <p class="catalog-banner__describe">Вы можете записаться на онлайн-консультацию с вашим будущим доктором, чтобы познакомиться, получить мнение эксперта и наметить дальнейший путь.</p>
    <a href="" class="catalog-banner__link  btn  btn--pink  btn--full-w" target="_blank">Посмотреть каталог</a>
  </div>

  <div class="catalog-banner__bg-img"></div>
</section>
