<section class="block-features">
  <!-- TODO: изображение и текст должны быть похорошему независимыми -->
  <!-- На телефонах одно целое  -->
  <!-- Но на десктопе они раздельны -->
  <div class="feature-slider">
    <div class="feature-slider__images"></div>
    <ul class="features-list  list-unstyled">
      <li class="features-list__item">
        <include
                src="components/feature-card.html"
                locals='{
                "img": "__dev-img",
                "alt": "описание изображения",
                "title": "Решаем задачи любой сложности",
                "describe": "Квалификация и современное оборудование позволяет нам проводить самые сложные операции – от микрохирургии до комплексной имплантации. И всё - в одной клинике!"
              }'
        ></include>
      </li>

      <li class="features-list__item">
        <include
                src="components/feature-card.html"
                locals='{
                "img": "__dev-img",
                "alt": "описание изображения",
                "title": "Стоматология для всей семьи",
                "describe": "Мы работаем как со взрослыми, так и  с малышами. Специалисты сделают всё возможное, чтобы ребёнок не боялся стоматолога и ушёл с приёма в хорошем настроении."
              }'
        ></include>
      </li>

      <li class="features-list__item">
        <include
                src="components/feature-card.html"
                locals='{
                "img": "__dev-img",
                "alt": "описание изображения",
                "title": "Атмосфера тепла и уюта",
                "describe": "Мы позаботились о том, чтобы на высшем уровне было не только лечение, но и оформление клиники. В расслабляющей уютной обстановке вы забудете, что находитесь в стоматологии"
              }'
        ></include>
      </li>
    </ul>
  </div>
</section>
