<section class="block-feedback">
  <h2 class="block-feedback__title">Улыбки наших клиентов</h2>

  <div class="feedback-slider">
    <div class="feedback-slider__bg-circle"></div>
    <ul class="feedback-list  list-unstyled">
      <li class="feedback-list__item">
        <include
                src="components/feedback-card.html"
                locals='{
                "img": "__dev-img",
                "alt": "описание изображения",
                "caption": "подпись к изображению",
                "title": "Екатерина",
                "type": "Установка виниров",
                "text": "Очень доволен походом к врачу! Приятный персонал, обстановка тоже хорошая. Отдельное спасибо мужчине который занимался моими зубами. К сожалению, не помню имени. Удалял два зуба сделал все на высшечайшем уровне. Советую всем кто думает куда пойти, сам лично буду ходить только в эту клинику."
              }'
        ></include>
      </li>

      <li class="feedback-list__item">
        <include
                src="components/feedback-card.html"
                locals='{
                "img": "__dev-img",
                "alt": "описание изображения",
                "caption": "подпись к изображению",
                "title": "Екатерина",
                "type": "Установка виниров",
                "text": "Очень доволен походом к врачу! Приятный персонал, обстановка тоже хорошая. Отдельное спасибо мужчине который занимался моими зубами. К сожалению, не помню имени. Удалял два зуба сделал все на высшечайшем уровне. Советую всем кто думает куда пойти, сам лично буду ходить только в эту клинику."
              }'
        ></include>
      </li>
      <li class="feedback-list__item">
        <include
                src="components/feedback-card.html"
                locals='{
                "img": "__dev-img",
                "alt": "описание изображения",
                "caption": "подпись к изображению",
                "title": "Екатерина",
                "type": "Установка виниров",
                "text": "Очень доволен походом к врачу! Приятный персонал, обстановка тоже хорошая. Отдельное спасибо мужчине который занимался моими зубами. К сожалению, не помню имени. Удалял два зуба сделал все на высшечайшем уровне. Советую всем кто думает куда пойти, сам лично буду ходить только в эту клинику."
              }'
        ></include>
      </li>
    </ul>

    <div class="feedback-slider__controls">
      <button class="feedback-slider__next" type="button">➡️</button>
      <button class="feedback-slider__prev" type="button">⬅️</button>
      <div class="feedback-slider__progress">
        <span class="feedback-slider__current"></span><span class="feedback-slider__total"></span>
      </div>
    </div>
  </div>
</section>
