<section class="block-fonder">
  <div class="block-fonder__img"></div>
  <div class="block-fonder__body">
    <h2 class="block-fonder__title">Обращение владельцев</h2>
    <p class="block-fonder__text">Главный показатель доверия нам — это большое количество пациентов, которые приходят на лечение зубов во сне по рекомендации. Это значит, что у нас безопасно и комфортно</p>

    <dl class="block-fonder__describe-list">
      <dt>Тишкина Ольга Сергеевна</dt>
      <dd>Владелец компании, травматолог стоматолог-терапевт</dd>

      <dt>Болячин Алексей Вячеславович</dt>
      <dd>Владелец компании, эндодантист</dd>
    </dl>

    <a href="#" class="btn btn--fill">
      <svg width="23" height="17" fill="none"><circle cx="8" cy="5" r="4.5" stroke="#333570"/><path stroke="#333570" d="M13 9.412a4 4 0 101-7.262M15 17a7.001 7.001 0 00-11.95-4.95A7 7 0 001 17M22 17a7.001 7.001 0 00-7-7"/></svg>
      Вся команда
    </a>
  </div>
</section>
