<section class="block-video">
  <div class="block-video__wrapper">
    <div class="block-video__bg-video">
      <video loop muted playsinline>
        <!--      <source type="video/webm" src="./videos/avocado_oil.webm" media="all and (max-width: 480px)">-->
        <source type="video/webm" src="./videos/avocado_oil.webm">
        <source type="video/mp4" src="./videos/avocado_oil.mp4">
      </video>
    </div>

    <div class="block-video__body">
      <h2 class="block-video__title">Познакомьтесь с нашей клиникой еще до посещения!</h2>
      <button class="btn" type="button">
        <span class="btn__wrapper">
          <svg class="btn__icon" width="16" height="16"><path  fill-rule="evenodd" d="M14.8 8A6.8 6.8 0 111.2 8a6.8 6.8 0 0113.6 0zM16 8A8 8 0 110 8a8 8 0 0116 0zM7.545 6.058L9.91 7.423a.667.667 0 010 1.154L7.545 9.942a.667.667 0 01-1-.577v-2.73a.667.667 0 011-.577z" clip-rule="evenodd"/></svg>
        Посмотреть видео</span>
      </button>
    </div>
  </div>
</section>
