<section class="block-hero">
  <div class="block-hero__video">
    <div class="bg-video">
      <!-- TODO: mp4 && webm -->
      <video autoplay muted playsinline>
        <source type="video/webm" src="">
        <source type="video/mp4" src="">
      </video>
    </div>
  </div>

  <div class="block-hero__body">
    <h2 class="block-hero__title">Лечим зубы надёжно!</h2>
    <p class="block-hero__text">Вернем вашу прежнюю улыбку после травмы зубов или создадим улыбку, о которой вы мечтали</p>

    <ul class="block-hero__list  list-unstyled">
      <li class="block-hero__list-item">более 20 000 довольных клиентов</li>
      <li class="block-hero__list-item">команда из 50 преданных делу специалистов</li>
      <li class="block-hero__list-item">7 лет успешной работы</li>
    </ul>

    <include src="components/btn-to-form-2.html" locals='{"class": ""}'></include>
  </div>
</section>
