<div class="footer-contacts">
  <h2>Контакты</h2>
  <ul class="contacts-list">
    <li class="contacts-list__item">
      <a href="tel:+70000000000">+7 (909) 391-32-51</a>
    </li>
    <li class="contacts-list__item">
      <a href="mailto:example@gmail.com">example@gmail.com</a>
    </li>
    <li class="contacts-list__item">Москва, ул. Щукинская, д. 2, под. 8</li>
  </ul>

  <include src="components/btn-to-form-2.html" locals='{"class": ""}'></include>

  <!-- Large Screen -->
  <a href="#" class="btn-to-top">
    <span class="btn-to-top__icon">⬆️</span>
    Наверх
  </a>
</div>
