<!doctype html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>Айсберг</title>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

  <link rel=preload href=images/teeth/main.webp as=image imagesrcset="images/teeth/main.webp 1x, images/teeth/main@2x.webp 2x" media="(max-width: 760px)">
  <link rel=preload href=images/teeth/main--large.webp as=image imagesrcset="images/teeth/main--large.webp 1x, images/teeth/main--large@2x.webp 2x" media="(min-width: 761px)">
  <link rel="preload" href="images/teeth/left.svg" as="image">
  <link rel="preload" href="images/teeth/left-small.svg" as="image">
  <link rel="preload" href="images/teeth/top-left.svg" as="image">
  <link rel="preload" href="images/teeth/right.svg" as="image">
  <link rel="preload" href="images/teeth/right-small.svg" as="image">
  <link rel="preload" href="images/teeth/top-right.svg" as="image">

  <link rel="stylesheet" href="core.css">
  <link rel="stylesheet" href="{{ css }}.css">
</head>
<body id="page-home">
<div id="scroll-container">
  <include src="page-header.html"></include>

  <include src="{{ content }}"></include>

  <include src="page-footer/page-footer.html"></include>
</div>

<include src="components/btn-to-top.html" locals='{"id": "btn-to-top", "color": "btn--blue-sky"}'></include>

<include src="page-menu/index.html"></include>
<include src="page-modal.html"></include>

<script src="mockServiceWorker.js" type="module"></script>
<script src="{{ js }}.js" type="module" async></script>

<include src="template.html"></include>
</body>
</html>
