<main>
  <include src="block-hero.html"></include>

  <iframe width="853" height="480" src="https://my.matterport.com/show/?m=8n2Ybid9ShJ" allowfullscreen allow="xr-spatial-tracking" loading="lazy" style="width: 100% !important;"></iframe>

  <include src="block-services.html"></include>
  <include src="block-video.html"></include>
  <include src="block-features.html"></include>
  <include src="block-founder.html"></include>
  <include src="block-quote.html"></include>
  <include src="block-feedback.html"></include>
</main>
