<div class="dialog-container  page-modal  page-feedback-modal" id="page-feedback-modal" aria-hidden="true">
  <div tabindex="-1" data-a11y-dialog-hide></div>
  <div role="dialog" aria-labelledby="page-modal-title">
    <div role="document">
      <h1 id="page-modal-title" class="visually-hidden"></h1>
      <div class="page-modal__body">
        <div class="page-modal__header  header">
          <div class="header__container">
            <img class="header__logo" src="./images/logo-white.svg" width="134" height="50"
                 alt="Центр дентальной травматологии">
            <button class="page-menu__close  hamburger  hamburger--close  btn  btn--circle  btn--pink  btn--white-hover  js-modal-close" type="button"
                    aria-label="Закрыть модальное окно">
              <span class="hamburger__line"></span>
              <span class="hamburger__line"></span>
            </button>
          </div>
        </div>

        <div class="page-modal__content  js-simplebar">
          <div class="page-modal__content-main"></div>
          <div class="page-modal__content-second">
            <div class="feedback-modal-img">
              <div class="feedback-modal-img__wrapper">
                <div class="feedback-modal-img__bg"></div>
              </div>
            </div>
            <div class="page-feedback-modal__note">
              <div id="template-form-note" class="form-note  js-simplebar">
                <h2 class="form-note__text ">
                  Чтобы встреча с доктором прошла с максимальной пользой для Вас, важно соблюдать следующие условия:
                </h2>

                <div class="accordion__body">
                  <h2 class="form-note__title">При записи на онлайн-консультацию:</h2>

                  <ul class="form-note__list  list-unstyled">
                    <li class="form-note__item">Отправьте результаты Ваших предыдущих исследований (томограмму,
                      рентгеновские
                      снимки,
                      фотографии) заранее, если
                      они есть на номер WA: +79853131550 нашему координатору встречи - Инессе
                    </li>

                    <li class="form-note__item">Запишите назначенный день/время в ежедневник и поставьте напоминание,
                      чтобы не
                      забыть.
                    </li>

                    <li class="form-note__item">Необходимо установить приложение ZOOM и проверить работоспособность
                      видео и аудио
                      устройств
                      заблаговременно
                    </li>

                    <li class="form-note__item">В день конференции проверьте устойчивость интернет-соединения.</li>
                  </ul>

                  <h2 class="form-note__title">Правила проведения:</h2>

                  <ul class="form-note__list  list-unstyled">
                    <li class="form-note__item">Онлайн-консультация проводится доктором. Услуга бесплатная.</li>

                    <li class="form-note__item">Мы уважаем Ваше время и время наших специалистов, поэтому график
                      планируем заранее и
                      онлайн-встреча начинается
                      в строго назначенное время. В случае вашего опоздания, мы сможем ожидать вас в комнате 10 минут.
                      После этого
                      конференция считается не состоявшейся.
                    </li>

                    <li class="form-note__item">Если у вас изменились планы, просим сообщить об этом заранее (минимум за
                      1 час),
                      чтобы мы смогли предложить это
                      время тому, кто ожидает
                    </li>

                    <li class="form-note__item">Если Вы НЕ отменили встречу и НЕ пришли на консультацию, мы сможем
                      пригласить вас на
                      другое освободившееся
                      время без предварительной записи (поставить в лист ожидания)
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="page-feedback-success" class="page-feedback-success">
  <span class="page-feedback-success__text">Ваша заявка успешно отправлена!</span>
  <button
    class="page-feedback-success__close  hamburger hamburger--close  btn  btn--circle  btn--pink  btn--white-hover">
    <span class="hamburger__line"></span>
    <span class="hamburger__line"></span>
  </button>
</div>
