<main>
  <include src="about/block-hero.html"></include>
  <include src="about/block-introduction.html"></include>
  <include src="about/block-teams.html"></include>
  <include src="about/block-specialization.html"></include>
  <include src="about/block-social-project.html"></include>
  <include src="about/block-steps.html"></include>

  <section class="quote-banner  block-quote--purple">
    <div class="quote-banner__noise"></div>
    <div class="quote-banner__conner"></div>

    <div class="quote-banner__body">
      <h2 class="quote-banner__title">К нам приезжают из других городов и стран!</h2>
      <p class="quote-banner__describe">Вы можете записаться на онлайн-консультацию с вашим будущим доктором, чтобы познакомится, получить мнение эксперта и наметить дальнейший путь.</p>

      <include src="components/btn-to-form-1.html" locals='{
        "class": "",
        "name": "Записаться на консультацию"
    }'></include>
    </div>
  </section>

  <include src="about/block-slider.html"></include>
</main>
