<header class="page-header  header">
  <a href="#" class="header__logo">
    <img src="./images/logo.svg" width="134" height="50" alt="Центр дентальной травматологии">
  </a>
  <!--
    TODO: возможно стоит убрать h1
    Или добавлять visual-hidden для маленьких экранов
   -->
  <span class="header__title">Центр дентальной травматологии</span>

  <a href="" class="header__btn  btn  btn--circle" aria-label="Версия для слабовидящих">
    <!--    <span class="btn__icon"></span>-->
    <svg class="btn__icon" width="21" height="14" fill="none">
      <path
        d="M20.867 6.284C20.679 6.027 16.209 0 10.5 0 4.79 0 .32 6.027.133 6.284a.693.693 0 000 .817c.188.256 4.658 6.284 10.367 6.284 5.709 0 10.179-6.028 10.367-6.284a.692.692 0 000-.817zM10.5 12c-4.205 0-7.848-4-8.926-5.308 1.077-1.31 4.712-5.307 8.926-5.307 4.205 0 7.847 4 8.926 5.308C18.349 8.002 14.714 12 10.5 12z"/>
      <path
        d="M10.5 2.538a4.159 4.159 0 00-4.154 4.154 4.159 4.159 0 004.154 4.154 4.159 4.159 0 004.154-4.154A4.159 4.159 0 0010.5 2.538zm0 6.924a2.772 2.772 0 01-2.77-2.77 2.772 2.772 0 012.77-2.769 2.772 2.772 0 012.769 2.77 2.772 2.772 0 01-2.77 2.769z"/>
    </svg>
  </a>
  <a href="tel:+70000000000" class="header__btn  btn">+7 (909) 391-32-51</a>

  <include
    src="components/btn-to-form-1.html"
    locals='{
      "class": "btn--no-icon header__btn",
      "name": "Онлайн-консультация"
    }'></include>

  <button class="hamburger  btn  btn--circle  btn--pink  js-menu-open" type="button" aria-label="Меню">
    <span class="hamburger__line"></span>
    <span class="hamburger__line"></span>
  </button>

  <include
    src="components/social-list.html"
    locals='{
     "class": "header__social"
    }'></include>
</header>
