<template>
  <include src="components/form.html"></include>

  <div id="template-form-note" class="form-note">
    <p class="form-note__text">Чтобы встреча с доктором прошла с максимальной пользой для Вас, важно соблюдать следующие условия:</p>

    <h2 class="form-note__title">ПРИ ЗАПИСИ НА ОНЛАЙН-КОНСУЛЬТАЦИЮ:</h2>

    <ul class="form-note__list  list-unstyled">
      <li class="form-note__item">Отправьте результаты Ваших предыдущих исследований (томограмму, рентгеновские
        снимки,
        фотографии) заранее, если
        они есть на номер WA: +79853131550 нашему координатору встречи - Инессе
      </li>

      <li class="form-note__item">Запишите назначенный день/время в ежедневник и поставьте напоминание, чтобы не
        забыть.
      </li>

      <li class="form-note__item">Необходимо установить приложение ZOOM и проверить работоспособность видео и аудио
        устройств
        заблаговременно
      </li>

      <li class="form-note__item">В день конференции проверьте устойчивость интернет-соединения.</li>
    </ul>

    <h2 class="form-note__title">ПРАВИЛА ПРОВЕДЕНИЯ:</h2>

    <ul class="form-note__list  list-unstyled">
      <li class="form-note__item">Онлайн-консультация проводится доктором. Услуга бесплатная.</li>

      <li class="form-note__item">Мы уважаем Ваше время и время наших специалистов, поэтому график планируем заранее и
        онлайн-встреча начинается
        в строго назначенное время. В случае вашего опоздания, мы сможем ожидать вас в комнате 10 минут. После этого
        конференция считается не состоявшейся.
      </li>

      <li class="form-note__item">Если у вас изменились планы, просим сообщить об этом заранее (минимум за 1 час),
        чтобы мы смогли предложить это
        время тому, кто ожидает
      </li>

      <li class="form-note__item">Если Вы НЕ отменили встречу и НЕ пришли на консультацию, мы сможем пригласить вас на
        другое освободившееся
        время без предварительной записи (поставить в лист ожидания)
      </li>
    </ul>

  </div>
</template>
