.video-modal-elm {
  margin-bottom: 54px;
}

.video-modal-elm__title {
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

.video-modal-elm__video-wrapper {
  --width: 345;
  --height: 345;
  --ratio: calc(var(--height) / var(--width) * 100%);

  position: relative;
  width: 100%;
  height: 0;
  padding-top: var(--ratio);
}

.video-modal-elm__video-elm {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  background-color: #cecece;
}

.video-modal-elm__video-wrapper .play {
  --size: 70px;
  --center-pos: calc(50% - var(--size) / 2);

  position: absolute;
  top: var(--center-pos);
  left: var(--center-pos);
  width: var(--size);
  height: var(--size);

  padding: 0;
  background: transparent;
  border: 0;
}

/* noinspection CssInvalidMediaFeature */
@media (--tablet) {
  .video-modal-elm__video-wrapper {
    --width: 584;
    --height: 301;
  }

  .video-modal-elm__video-wrapper .play {
    --size: 114px;
  }
}
