<footer class="page-footer">
  <div id="footerAnchor" class="page-footer__anchor"></div>

  <include src="page-footer/footer-header.html"></include>

  <include src="page-footer/footer-contacts.html"></include>

  <include
    src="components/social-list.html"
    locals='{
     "class": "page-footer__social",
     "btnClass": ""
    }'></include>

  <include src="page-footer/footer-image.html"></include>

  <ul class="pre-footer list-unstyled">
    <li class="pre-footer__item"><a href="#">Карта сайта</a></li>
    <li class="pre-footer__item"><a href="#">Юридическая информация</a></li>
    <li class="pre-footer__item"><a href="#">Политика обработки персональных данных</a></li>
  </ul>

  <div class="footer">
    <span class="footer__item footer__copyright">iceberg© 2021</span>
    <a href="https://web-alt.ru" class="footer__item footer__dev" target="_blank" ref="nofollow noopener">
      <img src="images/dev-logo.svg" width="109" height="18" alt="Студия Веб-Альтернатива. Разработчик сайта.">
    </a>
  </div>

  <include src="components/btn-to-top.html" locals='{"id": ""}'></include>

  <include src="page-footer/page-modal-footer.html"></include>
</footer>
