.accordion {
  padding: 20px 15px;
  background-color: var(--c-blue-sky);
  border-radius: 15px;
}

.accordion__head {
  margin: 0;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.accordion__btn {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: inherit;
  font: inherit;
  text-align: left;
  background: none;
}

.accordion__icon {
  display: block;
  width: 50px;
  height: 50px;
  background: rgba(51, 53, 112, 0.1) url("/images/icons/chevron.svg") no-repeat center 20px/14px;
  border-radius: 50%;
  transform: scaleY(-1);
}

.accordion__btn[aria-expanded="true"] .accordion__icon {
  transform: scaleY(1);
}

.accordion__body {
  padding-top: 40px;
}
