.block-feedback {
  position: relative;
  padding: 0 var(--page-gap);
  padding-bottom: 74px;
}

.block-feedback__title {
  margin-bottom: 46px;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
  text-align: center;
}

.block-feedback .btn-to-top {
  bottom: -57px;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .block-feedback {
    padding-bottom: 170px;
  }

  .block-feedback__title {
    margin-bottom: 86px;
    font-size: 48px;
  }

  .block-feedback .btn-to-top {
    bottom: -110px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-md) {
  .block-feedback {
    padding-left: var(--deep-gap);
    padding-right: var(--deep-gap);
  }

  .block-feedback .btn-to-top {
    bottom: -88px;
  }
}
