.block-feedback {
  position: relative;
  margin-bottom: 74px;
  padding: 0 var(--page-gap);
  overflow: hidden;
}

.block-feedback__title {
  margin-bottom: 46px;
  font-size: 28px;
  letter-spacing: var(--letter-spacing);
  text-align: center;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .block-feedback {
    margin-bottom: 170px;
  }

  .block-feedback__title {
    margin-bottom: 86px;
    font-size: 48px;
    font-weight: 600;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-md) {
  .block-feedback {
    padding: 0 var(--deep-gap);
  }
}
