.team-tabs {
  display: grid;
  grid-auto-flow: column;
  gap: 14px;
  
  width: fit-content;
  margin-bottom: 54px;
}

.team-tabs__item:first-child {
  padding-left: var(--page-gap);
}

.team-tabs__item:last-child {
  padding-right: var(--page-gap);
}

.team-tabs__btn {
  padding: 18px 48px;
  color: var(--c-deep-blue);
  background-color: var(--c-sky-blue);
  
  font-size: 16px;
  line-height: 1.4;
  text-transform: capitalize;
  border-radius: 15px;
  
  transition-property: color, background-color;
  transition-duration: var(--trans-dur);
}

.team-tabs__btn.is-active {
  color: #fff;
  background-color: var(--c-deep-blue);
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet) {
  .team-tabs {
    margin-left: auto;
    margin-right: auto;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .team-tabs {
    margin-bottom: 184px;
  }
  
  .team-tabs__btn {
    --pd-x: 30px;
    
    position: relative;
    
    padding-right: var(--pd-x);
    padding-left: var(--pd-x);
    color: rgba(60, 61, 117, 0.8);
    background-color: transparent;
    font-weight: 300;
  }
  
  .team-tabs__btn::after {
    content: '';
    position: absolute;
    left: var(--pd-x);
    right: var(--pd-x);
    bottom: 20px; /* padding-y */
    
    height: 1px;
    background-color: currentColor;
    transform-origin: 0 50%;
    transform: scaleX(0);
    transition: transform var(--trans-dur);
  }
  
  .team-tabs__btn.is-active {
    color: var(--c-deep-blue);
    background-color: var(--c-sky-blue);
  }
  
  .team-tabs__btn:not(.is-active):hover {
    color: var(--c-deep-blue);
  }
  
  .team-tabs__btn:not(.is-active):hover::after {
    transform: scaleX(1);
  }
}
