/*.team {}*/

.team__describe {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  text-align: center;
}

.team__filter {
  --margin-x: calc(var(--page-gap) * -1);

  margin-left: var(--margin-x);
  margin-right: var(--margin-x);
}

.team__filter.js-simplebar *::-webkit-scrollbar { display: none; }

.team__filter.js-simplebar .simplebar-track {
  display: none;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .team__filter {
    --margin-x: auto;

    max-width: 1060px;
  }
}
