.features-list {
  margin: 0;
}

.features-list__item {
  margin-bottom: 15px;
}

.features-list__item:last-child {
  margin-bottom: 0;
}

/* noinspection CssInvalidMediaFeature */
@media (--tablet-lg) {
  .features-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc((100% / 3) - 20px), 1fr));
    justify-content: space-between;
    align-items: start;
    gap: 20px;
  }

  .features-list__item {
    margin-bottom: 0;
  }
}

/* noinspection CssInvalidMediaFeature */
@media (--desktop-sm) {
  .features-list {
    grid-template-columns: repeat(auto-fit, 300px);
  }
}
