.feature-slider {}

.feature-slider__images {
  display: none;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .feature-slider {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .feature-slider__images {
    display: block;
    border: 4px solid palevioletred;
  }
}
