.features-list {
  margin: 0;
}

.features-list__item {
  margin-bottom: 15px;
}

.features-list__item:last-child {
  margin-bottom: 0;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .features-list__item {
    margin-bottom: 20px;
  }
}
