.quote-banner {
  position: relative;
  margin-bottom: 55px;
}

.quote-banner__bg {
  --clip-top: 75px;
  --clip-right: 65px;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--c-pink);
  clip-path: polygon(0% 0, calc(100% - var(--clip-top)) 0, 100% var(--clip-right), 100% 100%, 0 100%);
}

.quote-banner__noise {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("images/pattern-noise.png") round 32px;
}

.quote-banner__conner {
  position: absolute;
  top: 0;
  right: 0;
  width: 75px;
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
  transform: scaleX(-1);
}

.quote-banner__body {
  position: relative;
  padding: 72px var(--page-gap) 38px;
  text-align: center;
}

.quote-banner__title,
.quote-banner__describe {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.quote-banner__title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
}

.quote-banner__describe {
  margin-bottom: 30px;
  line-height: 1.3;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet) {
  .quote-banner__bg {
    --clip-top: 75.5px;
    --clip-right: 65.2px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .quote-banner {
    margin: 0 var(--page-gap) 136px;
    padding: 104px var(--inner-gap) 85px;
  }

  .quote-banner__bg {
    --clip-top: 150px;
    --clip-right: 128.2px;

    border-radius: 20px;
    clip-path: polygon(var(--clip-top) 0, 100% 0, 100% 0, 100% 100%, 0 100%, 0 var(--clip-right));
  }

  .quote-banner__conner {
    left: 0;
    width: 150px;
    transform: none;
  }

  .quote-banner__body {
    max-width: 650px;
    margin: 0 auto;
    padding: 0;
  }

  .quote-banner__title {
    margin-bottom: 16px;
    font-size: 36px;
  }

  .quote-banner__describe {
    margin-bottom: 40px;
    font-weight: 500;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-md) {
  .quote-banner__bg {
    --clip-top: 214px;
    --clip-right: 183px;
  }

  .quote-banner__conner {
    width: 214px;
  }
}
