<main class="page-main">
  <h1 class="page-title">Карта сайта</h1>

  <a class="link" href="#" class="sitemap-breadcrumbs">Главная</a>

  <div class="sitemap-container">
    <section class="sitemap">
      <h2 class="sitemap__title">Услуги</h2>
      <ul class="sitemap-list">
        <li class="sitemap-list__item"><a class="link" href="#">Детская стоматология</a></li>
        <li class="sitemap-list__item"><a class="link" href="#">Исправление прикуса</a></li>
        <li class="sitemap-list__item"><a class="link" href="#">Протезирование</a></li>
        <li class="sitemap-list__item"><a class="link" href="#">Детская стоматология</a></li>
        <li class="sitemap-list__item"><a class="link" href="#">Детская стоматология</a></li>
      </ul>
    </section>

    <section class="sitemap">
      <h2 class="sitemap__title">Клиника</h2>
      <ul class="sitemap-list">
        <li class="sitemap-list__item"><a class="link" href="#">Детская стоматология</a></li>
        <li class="sitemap-list__item"><a class="link" href="#">Детская стоматология</a></li>
        <li class="sitemap-list__item"><a class="link" href="#">Детская стоматология</a></li>
        <li class="sitemap-list__item"><a class="link" href="#">Политика обработки персональных данных</a></li>
        <li class="sitemap-list__item"><a class="link" href="#">Детская стоматология</a></li>
      </ul>
    </section>

    <section class="sitemap">
      <h2 class="sitemap__title">Дополнительно</h2>
      <ul class="sitemap-list">
        <li class="sitemap-list__item"><a class="link" href="#">Детская стоматология</a></li>
        <li class="sitemap-list__item"><a class="link" href="#">Детская стоматология</a></li>
        <li class="sitemap-list__item"><a class="link" href="#">Детская стоматология</a></li>
        <li class="sitemap-list__item"><a class="link" href="#">Детская стоматология</a></li>
        <li class="sitemap-list__item"><a class="link" href="#">Детская стоматология</a></li>
      </ul>
    </section>
  </div>
</main>
