.catalog-banner {
  margin-left: calc(var(--page-gap) * -1);
  margin-right: calc(var(--page-gap) * -1);
  padding: 42px var(--page-gap) 0;
  text-align: center;
}

.catalog-banner__bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: var(--c-aqua-light);
}

.catalog-banner__noise {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("/images/pattern-noise.png") round 32px;
}

.catalog-banner__bg-img,
.catalog-banner__body {
  position: relative;
  z-index: 2;
}

.catalog-banner__title {
  margin-bottom: 30px;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: var(--letter-spacing);
}

.catalog-banner__describe {
  margin-bottom: 30px;
  line-height: 1.3;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .catalog-banner {
    position: relative;
    display: grid;
    grid-template-columns: 560px 1fr;
    grid-auto-flow: column;
    align-items: center;

    margin: 0;
    padding: 0 0 0 var(--inner-gap);
    text-align: left;
    border-radius: 20px;
    overflow: hidden;

    transition-property: color;
    transition-duration: var(--trans-dur);
  }

  .catalog-banner__body {
    grid-column: 1/2;
    padding: 58px 0 48px;
  }

  .catalog-banner__title {
    margin-bottom: 15px;
    font-size: 32px;
  }

  .catalog-banner__describe {
    font-size: 16px;
  }
}
