.hero-slider {
  @apply h-full;
  height: 100%;
}

.hero-slider .swiper-wrapper {
  height: 75%;
  padding-bottom: 12px;
}

.hero-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
