<ul class="page-menu__catalog menu-catalog  list-unstyled">
  <li class="menu-catalog__item">
    <div class="menu-card">
      <div class="menu-card__icon"></div>
      <h2 class="menu-card__title">Лечение зубов и эстетика</h2>
      <a href="#" class="menu-card__link" aria-label="Лечение зубов и эстетика"></a>
    </div>
  </li>

  <li class="menu-catalog__item">
    <div class="menu-card">
      <div class="menu-card__icon"></div>
      <h2 class="menu-card__title">Травматология</h2>
      <a href="#" class="menu-card__link"></a>
    </div>
  </li>

  <li class="menu-catalog__item">
    <div class="menu-card">
      <div class="menu-card__icon"></div>
      <h2 class="menu-card__title">Детская стоматология</h2>
      <a href="#" class="menu-card__link"></a>
    </div>
  </li>

  <li class="menu-catalog__item">
    <div class="menu-card">
      <div class="menu-card__icon"></div>
      <h2 class="menu-card__title">Исправление прикуса</h2>
      <a href="#" class="menu-card__link"></a>
    </div>
  </li>

  <li class="menu-catalog__item">
    <div class="menu-card">
      <div class="menu-card__icon"></div>
      <h2 class="menu-card__title">Диагностика</h2>
      <a href="#" class="menu-card__link"></a>
    </div>
  </li>

  <li class="menu-catalog__item">
    <div class="menu-card">
      <div class="menu-card__icon"></div>
      <h2 class="menu-card__title">Протезирование</h2>
      <a href="#" class="menu-card__link"></a>
    </div>
  </li>
</ul>
