<div class="dialog-container page-menu" id="page-menu" aria-hidden="true">
  <div tabindex="-1" data-a11y-dialog-hide></div>
  <div role="dialog" aria-labelledby="page-menu-title">
    <div role="document">
      <h1 id="page-menu-title" class="visually-hidden">Меню</h1>
      <div class="page-menu__body">
        <!--   Общий компонент     -->
        <include src="page-menu/header.html"></include>
        <div class="page-menu__nav">
          <include src="page-menu/nav.html"></include>
        </div>
        <include src="page-menu/catalog.html"></include>

        <include
          src="components/social-list.html"
          locals='{
            "class": "page-menu__social",
            "btnClass": "btn--dark"
          }'
        ></include>
      </div>
    </div>
  </div>
</div>
