<nav class="nav">
  <ul class="nav__list list-unstyled">
    <li class="nav__item"><a href="/" class="nav__link">Главная</a></li>
    <li class="nav__item"><a href="team.html" class="nav__link">Команда</a></li>
    <li class="nav__item">
      <a href="documents.html" class="nav__link">Документы</a>
    </li>
    <li class="nav__item">
      <a href="children-service.html" class="nav__link">Услуги</a>
    </li>
    <li class="nav__item">
      <a href="structure.html" class="nav__link">Структура компании</a>
    </li>
  </ul>
</nav>
