<nav class="nav">
  <ul class="nav__list  list-unstyled">
    <li class="nav__item"><a href="#" class="nav__link">Главная</a></li>
    <li class="nav__item"><a href="#" class="nav__link">О нас</a></li>
    <li class="nav__item">
      <div class="nav__accordion  accordion" data-allow-toggle>
        <button aria-expanded="false"
                class="accordion__trigger"
                aria-controls="sect1"
                id="accordion1id">
        <span class="accordion__title">
          Контакты
          <span class="accordion__icon">
            <svg width="6" height="6">
              <path d="M2.307 4.8a.8.8 0 001.386 0L5.77 1.2A.8.8 0 005.078 0H.922a.8.8 0 00-.693 1.2l2.078 3.6z"/>
            </svg>
          </span>
        </span>
        </button>

        <ul id="sect1"
            class="accordion__panel  nav__sub-list  list-unstyled"
            role="region"
            aria-labelledby="accordion1id"
            hidden
        >
          <li class="nav__sub-item"><a href="tel:+79999999999">+7 (499) 951 03 03</a></li>
          <li class="nav__sub-item"><a href="mailto:example@gmail.com">admin@icebergclinic.com</a></li>
          <li class="nav__sub-item"><a href="ссылка на карту" target="_blank" ref="nofollow noopener">Москва, ул.
            Щукинская, д. 2, под. 8</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
