.team-inner {
  position: relative;
  margin-bottom: 78px;
}

.team-inner__top {
  position: relative;
}

.team-inner__container {
  position: relative;
}

.team-inner__backward-link {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  display: none;
  grid-auto-flow: column;
  gap: 10px;
  align-items: center;

  font-size: 14px;
  opacity: 0.6;
  transition: opacity var(--trans-dur);
}

.team-inner__backward-link:hover {
  opacity: 1;
}

.team-inner__backward-link::before {
  content: '';
  width: 14px;
  height: 14px;
  background-color: currentColor;
  mask-image: url("/images/icons/_arrow.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  transform: rotate(90deg);
}

.team-inner__title {
  margin-bottom: 38px;
  font-size: 28px;
  line-height: 1.4;
  font-weight: 600;
  text-align: center;
}

.team-inner-bg-wave {
  --pos-x: calc(var(--page-gap) * -1);
  --bottom-pos: 15px;

  /* var(--md) <- .employee-detail__picture */
  --bottom: calc((var(--mb) + var(--bottom-pos)) * -1);

  position: absolute;
  left: var(--pos-x);
  right: var(--pos-x);
  bottom: var(--bottom);
  height: 0;
  padding-top: 100%;

  /*
   * хак для safari
   * убирает блур у бг свг
  */
  transform-origin: 0 0;
  transform: scale(0.25) translateZ(0.01px);
}

.team-inner-bg-wave::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 400%;
  background: url("/images/bg-wave-employee.svg") no-repeat center/250%;
}

.team-inner-bg-wave--second::after {
  background-image: url("/images/bg-wave-employee-pink.svg");
}

.team-inner-bg-wave-large {
  --bg-pos-x: 230%;
  --bg-pos-y: -120%;
  --bg-size: 80%;

  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 770px;
  height: 770px;

  /*
   * хак для safari
   * убирает блур у бг свг
  */
  transform-origin: 0 0;
  transform: scale(0.25) translateZ(-0.01px);
}

.team-inner-bg-wave-large::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 400%;
  height: 400%;
  background: url("/images/bg-wave-employee-large.svg") no-repeat var(--bg-pos-x) var(--bg-pos-y)/var(--bg-size);
}

.team-inner-bg-wave-large--second::after {
  background-image: url("/images/bg-wave-employee-pink-large.svg");
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--mobile-sm) {
  .team-inner-bg-wave {
    --bottom-pos: 25px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--mobile-lg) {
  .team-inner-bg-wave {
    --bottom-pos: 55px;
    background-size: 230%;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--pre-tablet) {
  .team-inner-bg-wave {
    display: none;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet) {
  .team-inner {
    position: static;
  }

  .team-inner-bg-wave-large {
    display: block;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .team-inner-bg-wave-large {
    --bg-pos-x: -310%;
    --bg-pos-y: 465%;
    --bg-size: 110%;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop) {
  .team-inner__backward-link {
    display: inline-grid;
  }

  .team-inner .page-title {
    padding: 0 150px;
  }

  .team-inner__title {
    margin-bottom: 75px;
    font-size: 48px;
    line-height: 1.2;
    text-align: left;
    letter-spacing: var(--letter-spacing);
  }

  .team-inner__header {
    max-width: 1080px;
    margin: 0 auto;
  }

  .team-inner__examples {
    max-width: 1722px;
    margin: 0 auto;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-md) {
  .team-inner .page-title {
    padding: 0 320px;
  }

  .team-inner-bg-wave-large {
    --bg-pos-x: -45%;
    --bg-pos-y: 90%;
    --bg-size: 140%;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-lg) {
  .team-inner .page-title {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-fullhd) {
  .team-inner-bg-wave-large {
    --bg-pos-x: 35%;
    --bg-pos-y: 65%;
    --bg-size: 200%;
  }
}
