<div class="feature-card">
  <div class="feature-card__img">
    <picture class="feature-card__picture">
      <!--    Mobile      -->
      <source type="image/webp" media="(max-width: 500px)" srcset="images/{{ img }}320.webp">
      <source media="(max-width: 500px)" srcset="images/{{ img }}320.jpg">
      <!--     Other     -->
      <source type="image/webp" srcset="images/{{ img }}.webp">
      <!--            <source srcset="images/{{ img }}.jpg">-->
      <!--    Сюда можно вставлять ссылку на оригинал      -->
      <img src="images/{{ img }}.jpg" width="290" height="180" alt="{{ alt }}" loading="lazy">
    </picture>
  </div>

  <div class="feature-card__body">
    <h3 class="feature-card__title">{{ title }}</h3>
    <p class="feature-card__describe">{{ describe }}</p>
  </div>
</div>
