<div class="feature-card">
  <div class="feature-card__img">
  <!--  TODO: Вернуть <picture> с webp, тк хардкод будет  -->
    <img
      class="feature-card__picture"
      srcset="
        images/{{ img }}-320.jpg 320w,
        images/{{ img }}.jpg"
      src="images/{{ img }}.jpg"
      width="290"
      height="180"
      alt="{{ alt }}"
      loading="lazy">
  </div>

  <div class="feature-card__body">
    <h3 class="feature-card__title">{{ title }}</h3>
    <p class="feature-card__describe">{{ describe }}</p>
  </div>
</div>
