<div class="footer-header  header">
  <a href="#" class="header__logo">
    <img src="./images/logo.svg" width="134" height="50" alt="Центр дентальной травматологии">
  </a>

  <a href="tel:+70000000000" class="header__btn  btn  btn--dark">+7 (909) 391-32-51</a>

  <include src="components/btn-to-form-1.html" locals='{
        "class": "btn--dark  btn--no-icon header__btn",
        "name": "Онлайн-консультация"
    }'></include>

  <button class="hamburger  btn  btn--dark  btn--circle  js-menu-open" type="button" aria-label="Меню">
    <span class="hamburger__line"></span>
    <span class="hamburger__line"></span>
  </button>
</div>
