<form id="template-form" action="" class="form">
  <h2 class="form__title">Напишите нам!</h2>
  <div class="form__field">
    <label for="form-name" class="form__label  visually-hidden">Имя</label>
    <input id="form-name" type="text" class="form__elm  form__input" name="name" placeholder="Имя" required>
  </div>

  <div class="form__field">
    <label for="form-phone" class="form__label  visually-hidden">Телефон</label>
    <input id="form-phone" type="text" class="form__elm  form__input" name="phone" placeholder="+7 (xxx) xxx xx xx"
           required>
  </div>

  <div class="form__field  form__field--col-2">
    <div class="form__elm  custom-select">
      <label for="form-select" class="form__label  visually-hidden">Выберите услугу</label>
      <select id="form-select" class="form__select" name="type" required>
        <option value="" disabled selected>Выберите услугу</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <svg class="custom-select__icon" width="6" height="6">
        <path d="M2.307 4.8a.8.8 0 001.386 0L5.77 1.2A.8.8 0 005.078 0H.922a.8.8 0 00-.693 1.2l2.078 3.6z"/>
      </svg>
    </div>

    <div class="form__elm  custom-datepicker" data-date="Дата">
      <label for="form-datepicker" class="form__label  visually-hidden">Дата</label>
      <input id="form-datepicker" class="form__datepicker" type="text"
             placeholder="Выберите дату" required>
    </div>
  </div>

  <div class="form__field">
    <label for="form-message" class="form__label  visually-hidden">Сообщение</label>
    <textarea id="form-message" class="form__elm  form__textarea" name="message" rows="10"
              placeholder="Сообщение"></textarea>
  </div>

  <span class="form__agreement">*Нажимая на кнопку "хочу узнать больше" вы соглашаетесь на <a href="#">обработку персональных данных</a>.</span>

  <button class="form__submit  btn  btn--dark" type="submit">Отправить</button>
</form>
