<form id="template-form" action="https://formsubmit.co/apqwoqdsxpii@dropmail.me" class="form">
  <h2 class="form__title">Напишите нам!</h2>
  <div class="form__field">
    <label for="form-name" class="form__label  visually-hidden">Имя</label>
    <input id="form-name" type="text" class="form__elm  form__input" name="name" placeholder="Имя" data-name="name" data-required="true">
  </div>

  <div class="form__field">
    <label for="form-phone" class="form__label  visually-hidden">Телефон</label>
    <input id="form-phone" type="text" inputmode="tel" class="form__elm  form__input" name="phone" placeholder="+7 (xxx) xxx xx xx" data-name="phone"
           data-required="true">
  </div>

  <div class="form__field  form__field--col-2">
    <div class="form__elm  custom-select">
      <label for="form-select" class="form__label  visually-hidden">Выберите услугу</label>
      <select id="form-select" class="form__select" name="type" data-name="select" data-required="true">
        <option value="" disabled selected>Выберите услугу</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <svg class="custom-select__icon" width="6" height="6">
        <path d="M2.307 4.8a.8.8 0 001.386 0L5.77 1.2A.8.8 0 005.078 0H.922a.8.8 0 00-.693 1.2l2.078 3.6z"/>
      </svg>
    </div>

    <div class="form__elm  custom-datepicker" data-date="Дата">
      <label for="form-datepicker" class="form__label  visually-hidden">Дата</label>
      <input id="form-datepicker" class="form__datepicker" type="text" name="date"
             placeholder="Выберите дату" data-name="date" data-required="true">
    </div>
  </div>

  <div class="form__field">
    <label for="form-message" class="form__label  visually-hidden">Сообщение</label>
    <textarea id="form-message" class="form__elm  form__textarea" name="message" rows="10"
              placeholder="Сообщение" data-name="message"></textarea>
  </div>

  <span class="form__agreement">*Нажимая на кнопку "хочу узнать больше" вы соглашаетесь на <a href="#">обработку персональных данных</a>.</span>

  <button class="form__submit  btn  btn--dark" type="submit">
    <span class="btn__wrapper">
      <svg width="18" height="16" class="btn__icon"><path d="M17.988.896c.088-.417-.313-.77-.704-.617L.34 6.894A.54.54 0 000 7.397a.54.54 0 00.337.504l4.76 1.88v5.922c0 .25.168.467.406.525a.524.524 0 00.593-.282l1.969-3.995 4.804 3.646c.292.222.713.08.819-.276C18.174.281 17.98.934 17.988.896zm-4.183 1.896L5.55 8.804 1.998 7.4l11.807-4.61zM6.152 9.69l7.196-5.24c-6.192 6.679-5.869 6.327-5.896 6.364-.04.056.07-.16-1.3 2.62V9.69zm6.745 4.585l-4.229-3.21 7.647-8.25-3.418 11.46z"/></svg>
      Отправить
    </span>
  </button>
</form>
