.hamburger {
  --size: 50px;
  --top: calc(var(--pd-top, 18px) + ((88 - var(--size)) / 2));

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: var(--size);
  height: var(--size);
  border: 1px solid transparent;
}

.hamburger--close {
  border: 1px solid currentColor;
  border-color: var(--c-deep-blue);
}

.hamburger--close .hamburger__line {
  --trfo-y: 50%;

  transform-origin: 23% var(--trfo-y);
}

.hamburger--close .hamburger__line:first-child {
  --trfo-y: 150%;

  transform: rotate(45deg);
}

.hamburger--close .hamburger__line:last-child {
  --trfo-y: -50%;

  transform: rotate(-45deg);
}

.hamburger__line {
  display: block;
  width: 16px;
  height: 2px;
  background-color: var(--color);
  border-radius: 1px;

  /*transition-property: transform;*/

  /*transition-duration: var(--trans-dur);*/
}

.hamburger__line:first-child {
  margin-bottom: 5px;
}

.hamburger__line:last-child {
  margin-bottom: 0;
}

.hamburger {
  position: relative;
}

.hamburger::before,
.hamburger::after {
  --rotate: 0deg;

  /*content: '';*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(var(--rotate));

  width: 100%;
  height: 1px;
  background-color: #f00;
}

.hamburger::before {
  --rotate: 45deg;
}

.hamburger::after {
  --rotate: -45deg;
}
