/*.page-header {}*/

.page-header.is-pinned {
  position: fixed !important;
  z-index: 1;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .page-header.is-pinned {
    position: absolute;
  }
}
