.children-service {
  position: relative;
  display: grid;
  margin-bottom: 20px;
  padding: 20px 15px;
  background-color: var(--c-blue-sky);
  border-radius: 15px;
  z-index: 2;
}

.children-service--blue-dark {
  color: #fff;
  background-color: var(--c-blue-deep-darken);
}

.children-service--pink {
  background-color: var(--c-pink);
}

.children-service__title {
  margin-bottom: 40px;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.children-service--accordion .children-service__title {
  margin-bottom: 0;
  text-align: left;
}

.children-service__list {
  --marker-bg: var(--c-blue-deep-darken);
  --marker-color: #fff;

  margin-bottom: 40px;
}

.children-service--pink .children-service__list {
  --marker-color: var(--c-pink);
}

.children-service--blue-dark .children-service__list {
  --marker-bg: #fff;
  --marker-color: var(--c-blue-deep-darken);
}

.children-service__text {
  margin-bottom: 25px;
  line-height: 1.4;
}

.children-service__text:last-of-type {
  margin-bottom: 0;
}

.children-service__btns {
  display: grid;
  gap: 15px;
  justify-content: center;
  margin-top: 35px;
}

/* noinspection CssInvalidMediaFeature */
@media (--tablet-lg) {
  .children-service {
    margin-bottom: 0;
    padding: 70px 80px 70px 50px;
  }

  .children-service--accordion:not(:last-of-type) {
    margin-bottom: 50px;
  }

  .children-service__title {
    font-size: 42px;
    text-align: left;
  }

  .children-service__list {
    font-size: 22px;
  }

  .children-service__text {
    margin-bottom: 34px;
  }

  .children-service__btns {
    grid-auto-flow: column;
    justify-content: start;
    margin-top: 50px;
  }

  .children-service:not(.children-service--accordion) .children-service__btns {
    display: none;
  }
}
