.children-services-gallery {
  display: none;
  padding-top: calc(496 / 782 * 100%);
  border: 4px solid palevioletred;
}

/* noinspection CssInvalidMediaFeature */
@media (--desktop-sm) {
  .children-services-gallery {
    display: block;
  }
}
