.children-steps-list-item {
  word-break: break-word;
}

.children-steps-list-item--hand {
  position: relative;
}

.children-steps-list-item--hand::after {
  content: '';
  position: absolute;
  top: 0;
  right: calc(var(--page-gap) * -1);
  display: block;
  width: 117px;
  height: 200px;
  background: url("/images/children-service/hand-teeth-full.svg") no-repeat 25px 30px/105px;
}

.children-steps-list-item--hand .children-steps-list-item__describe {
  padding-right: 90px;
}

.children-steps-list-item__title {
  margin-bottom: 30px;
  font-size: 22px;
}

.children-steps-list-item__title::before {
  content: '0'counter(steps-counter);
  counter-increment: steps-counter;
  margin-right: 10px;
  font-weight: 300;
}

/*.children-steps-list-item__describe {}*/

/* noinspection CssInvalidMediaFeature */
@media (--tablet-lg) {
  .children-steps-list-item--hand {
    padding-right: 0;
  }

  .children-steps-list-item--hand::after {
    content: none;
  }

  .children-steps-list-item__title {
    font-size: 32px;
  }

  .children-steps-list-item__title::before {
    display: inline-block;
    width: 40px;
    margin-right: 30px;
    text-align: right;
  }

  .children-steps-list-item__describe {
    padding-left: 70px; /* marker size -> width + margin-right */
  }
}
