.children-steps-list-wrapper {
  position: relative;
}

.children-steps-list {
  display: grid;
  gap: 30px;
  padding-left: 30px;
  counter-reset: steps-counter;
}

/* noinspection CssInvalidMediaFeature */
@media (--tablet-lg) {
  .children-steps-list {
    gap: 100px;
    padding-left: 50px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media (--desktop-fullhd) {
  .children-steps-list-wrapper {
    transform: translateX(-120px);
  }
}
