.custom-datepicker {
  width: 100%;
  line-height: 1;
  text-align: center;
}

.custom-datepicker::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 22px;
  transform: translateY(-50%);
  width: 17px;
  height: 17px;
  background: url("/images/icons/calendar.svg") no-repeat center/17px;
  z-index: 2;
}

.custom-datepicker input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}

/*
  Прячем дефолтный placeholder (dd.mm.yyyy),
  если нет значения.
*/
.custom-datepicker input[type="date"]:in-range::-webkit-datetime-edit-year-field,
.custom-datepicker input[type="date"]:in-range::-webkit-datetime-edit-month-field,
.custom-datepicker input[type="date"]:in-range::-webkit-datetime-edit-day-field,
.custom-datepicker input[type="date"]:in-range::-webkit-datetime-edit-text {
  color: transparent;
}

.custom-datepicker input[type="date"].has-value:in-range::-webkit-datetime-edit-year-field,
.custom-datepicker input[type="date"].has-value:in-range::-webkit-datetime-edit-month-field,
.custom-datepicker input[type="date"].has-value:in-range::-webkit-datetime-edit-day-field,
.custom-datepicker input[type="date"].has-value:in-range::-webkit-datetime-edit-text {
  color: inherit;
}

/* Отображаем placeholder, если нет значения */
.custom-datepicker .flatpickr-input.flatpickr-mobile::before {
  content: attr(data-placeholder);
}

.custom-datepicker .flatpickr-input.flatpickr-mobile.has-value::before {
  content: none;
}
