.custom-select {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
}

.custom-select__icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  fill: #fff;
}

.has-error .custom-select__icon {
  fill: #a0a3c2;
}

.choices.is-open + .custom-select__icon {
  transform: translateY(-50%) rotate(-180deg);
}
