.form {
  display: grid;
  grid-gap: 15px;
  margin-bottom: 50px;
}

.form__title {
  margin-bottom: 15px;
}

.form__field--col-2 {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 15px;
}

.form__elm {
  --padding-x: 25px;

  width: 100%;
  padding: 15px var(--padding-x);

  color: #fff;
  background-color: rgba(51, 53, 112, 0.4);

  font-family: inherit;
  font-size: 14px;
  line-height: 1.3;

  border: 1px solid transparent;
  border-radius: 100px;
}

.form__elm::placeholder {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}

.form__elm:not(.has-error)::placeholder {
  opacity: 0.6;
}

.form__elm.has-error {
  color: var(--c-red);
  background-color: #fff;
  border-color: var(--c-red);
}

.form__input,
.form__textarea,
.form__select,
.form__datepicker {
  appearance: none;
}

.form__select:not(.choices__input) {
  width: 100%;
  height: 100%;
  padding: 15px var(--padding-x);
  border: 0;
  background-color: transparent;
  color: #fff;
  font-family: inherit;
  font-size: 100%;
}

.custom-datepicker,
.form__datepicker {
  position: relative;
  /*width: 50px;*/
  /*height: 50px;*/
  /*padding: 0;*/
}

.form__datepicker {
  background: none;
  font-size: 0;
  border: 0;
  z-index: 1;
}

.form__textarea {
  border-radius: 20px;
  resize: none;
}

.form__agreement {
  font-size: 12px;
  line-height: 1.3;
}

.form__agreement a {
  color: inherit;
  text-decoration: underline;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop) {
  .form {
    max-width: 310px;
    margin: 0;
  }

  .form__title {
    margin-bottom: 5px;
    font-size: 32px;
    letter-spacing: var(--letter-spacing);
  }

  .form__submit {
    justify-self: start;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--h900) {
  .form__textarea {
    min-height: calc(242em / 16 * 1.3); /* em * line-height */
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--laptop-sm) {
  .form__title {
    margin-bottom: 0;
    font-size: 26px;
  }

  .form__elm {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .custom-datepicker,
  .form__datepicker {
    width: 40px;
    height: 40px;
  }

  .custom-datepicker {
    padding: 0;
  }
}
