.success-message {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  
  display: none;
  
  background-color: #fff;
}

.success-message.is-show {
  display: block;
}

.success-message__wrapper {
  height: calc(100vh - 120px); /* 120px === .page-modal__content -> padding-top */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.success-message__title {
  margin-bottom: 28.169vh;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop) {
  .success-message {
    background-color: var(--c-light-blue);
  }
  
  .success-message__wrapper {
    height: 100%;
  }
  
  .success-message__title {
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 700;
  }
  
  .success-message__btn {
    align-self: start;
  }
}
