<section id="service-block" class="children-services  js-scrolltrigger-fadein">
  <div class="children-services__header">
    <div class="children-services__body">
      <h2 class="children-services__title  title">Мы предлагаем</h2>
      <p class="children-services__text">Вместе с малышом доктор посчитает зубки, почистит их щетками и пастами,
        разрешит посидеть с мамой или папой в стоматологическом кресле. Когда ребенок будет психологически готов,
        можно приступить к лечению.</p>

      <ul class="children-services-anchors  children-list list-unstyled">
        <li class="children-list__item"><a href="#service-1" class="children-list__link">Профилактику
          кариеса</a></li>
        <li class="children-list__item"><a href="#service-2" class="children-list__link">Лечение
          у ортодонта</a></li>
        <li class="children-list__item"><a href="#service-3" class="children-list__link">Лечение с седацией</a>
        </li>
        <li class="children-list__item"><a href="#service-4" class="children-list__link">Лечение
          во сне</a></li>
      </ul>
    </div>

    <div class="children-services-gallery  swiper-container">
      <ul class="children-services-gallery__list list-unstyled swiper-wrapper">
        <li class="children-services-gallery__item swiper-slide">
          <button type="button" data-photoswiper-item><img src="/images/__dev-img-2.jpg" width="1048" height="699" alt=""></button>
        </li>
        <li class="children-services-gallery__item swiper-slide">
          <button type="button" data-photoswiper-item><img src="/images/__dev-img-3.jpg" width="1000" height="562" alt=""></button>
        </li>
        <li class="children-services-gallery__item swiper-slide">
          <button type="button" data-photoswiper-item><img src="/images/__dev-img.jpg" width="1200" height="800" alt=""></button>
        </li>
      </ul>

      <button class="children-services-gallery__button-prev  btn btn--dark btn--circle" type="button" aria-label="Предыдущий слайд."></button>
      <button class="children-services-gallery__button-next  btn btn--dark btn--circle" type="button" aria-label="Следующий слайд."></button>
      <div class="swiper-pagination"></div>
    </div>
  </div>

  <div class="children-services__main">
    <div class="children-services__sticky-block">
      <article id="service-1" class="children-service  children-service--blue-dark">
        <h2 class="children-service__title">Лечение зубов во сне</h2>
        <ul class="children-service__list  children-list  list-unstyled">
          <li class="children-list__item">Очищение поверхности зубов</li>
          <li class="children-list__item">Герметизация фиссур</li>
          <li class="children-list__item">Укрепление эмали фтором</li>
        </ul>
        <p class="children-service__text">Даже если ребенок с раннего возраста приучен регулярно чистить зубы, в
          домашних условиях полностью убрать налет практически невозможно. Он остается в труднодоступных местах и
          может вызывать кариес. Для профилактики кариеса мы проводим профессиональную гигиену, в ходе которой
          тщательно очищаем поверхность зубов со всех сторон. Затем укрепляем эмаль фтором и кальцием.</p>
        <p class="children-service__text">Даже если ребенок с раннего возраста приучен регулярно чистить зубы, в
          домашних условиях полностью убрать налет практически невозможно. Он остается в труднодоступных местах и
          может вызывать кариес. Для профилактики кариеса мы проводим профессиональную гигиену, в ходе которой
          тщательно очищаем поверхность зубов со всех сторон. Затем укрепляем эмаль фтором и кальцием.</p>
        <p class="children-service__text">Даже если ребенок с раннего возраста приучен регулярно чистить зубы, в
          домашних условиях полностью убрать налет практически невозможно. Он остается в труднодоступных местах и
          может вызывать кариес. Для профилактики кариеса мы проводим профессиональную гигиену, в ходе которой
          тщательно очищаем поверхность зубов со всех сторон. Затем укрепляем эмаль фтором и кальцием.</p>

        <div class="children-service-gallery">
          <div class="children-service-gallery__item" data-label="До/После">
            <img src="" alt="">
          </div>
        </div>

        <div class="children-service__btns">
          <include src="components/btn-form-consultation.html">
            {
              "class": "btn--full-w",
              "name": "Онлайн-консультация"
            }
          </include>
          <include src="components/btn-form-appointment.html">
            {
            "class": "btn--full-w btn--pink",
            "text": "Записаться на прием"
            }
          </include>
        </div>
      </article>

      <article id="service-2" class="children-service  children-service--pink">
        <h2 class="children-service__title">Съешь эти вкусные булочки</h2>
        <ul class="children-service__list  children-list  list-unstyled">
          <li class="children-list__item">Очищение поверхности зубов</li>
          <li class="children-list__item">Герметизация фиссур</li>
          <li class="children-list__item">Укрепление эмали фтором</li>
        </ul>
        <p class="children-service__text">Даже если ребенок с раннего возраста приучен регулярно чистить зубы, в
          домашних условиях полностью убрать налет практически невозможно. Он остается в труднодоступных местах и
          может вызывать кариес. Для профилактики кариеса мы проводим профессиональную гигиену, в ходе которой
          тщательно очищаем поверхность зубов со всех сторон. Затем укрепляем эмаль фтором и кальцием.</p>
        <p class="children-service__text">Даже если ребенок с раннего возраста приучен регулярно чистить зубы, в
          домашних условиях полностью убрать налет практически невозможно. Он остается в труднодоступных местах и
          может вызывать кариес. Для профилактики кариеса мы проводим профессиональную гигиену, в ходе которой
          тщательно очищаем поверхность зубов со всех сторон. Затем укрепляем эмаль фтором и кальцием.</p>
        <p class="children-service__text">Даже если ребенок с раннего возраста приучен регулярно чистить зубы, в
          домашних условиях полностью убрать налет практически невозможно. Он остается в труднодоступных местах и
          может вызывать кариес. Для профилактики кариеса мы проводим профессиональную гигиену, в ходе которой
          тщательно очищаем поверхность зубов со всех сторон. Затем укрепляем эмаль фтором и кальцием.</p>

        <div class="children-service-gallery">
          <div class="children-service-gallery__item" data-label="До/После">
            <img src="" alt="">
          </div>
        </div>

        <div class="children-service__btns">
          <include src="components/btn-form-consultation.html">
            {
            "class": "btn--full-w",
            "name": "Онлайн-консультация"
            }
          </include>
          <include src="components/btn-form-appointment.html">
            {
            "class": "btn--full-w btn--dark",
            "text": "Записаться на прием"
            }
          </include>
        </div>
      </article>

      <div class="children-sticky-order">
        <span class="children-sticky-order__text"><span
          class="children-sticky-order__text-bolder">Запишитесь на прием</span> или получите бесплатную <span
          class="children-sticky-order__text-bolder">онлайн консультацию!</span></span>

        <div class="children-sticky-order__btns">
          <include src="components/btn-form-consultation.html">
            {
            "class": "",
            "name": "Онлайн-консультация"
            }
          </include>
          <include src="components/btn-form-appointment.html">
            {
            "class": "btn--dark",
            "text": "На прием"
            }
          </include>
        </div>
      </div>
      <div class="children-services-hand">
        <div class="children-services-hand__brush"></div>
      </div>
    </div>

    <article id="service-3" class="children-service  children-service--accordion  accordion js-accordion">
      <h2 class="children-service__title  accordion__head">
        <button class="accordion__btn  js-accordion-btn" type="button" aria-expanded="false">Оу, это же аккордион!<span
          class="accordion__icon"></span>
        </button>
      </h2>

      <div class="accordion__body  js-accordion-content">
        <ul class="children-service__list  children-list  list-unstyled">
          <li class="children-list__item">Очищение поверхности зубов</li>
          <li class="children-list__item">Герметизация фиссур</li>
          <li class="children-list__item">Укрепление эмали фтором</li>
        </ul>
        <p class="children-service__text">Даже если ребенок с раннего возраста приучен регулярно чистить зубы, в
          домашних условиях полностью убрать налет практически невозможно. Он остается в труднодоступных местах и
          может вызывать кариес. Для профилактики кариеса мы проводим профессиональную гигиену, в ходе которой
          тщательно очищаем поверхность зубов со всех сторон. Затем укрепляем эмаль фтором и кальцием.</p>
        <p class="children-service__text">Даже если ребенок с раннего возраста приучен регулярно чистить зубы, в
          домашних условиях полностью убрать налет практически невозможно. Он остается в труднодоступных местах и
          может вызывать кариес. Для профилактики кариеса мы проводим профессиональную гигиену, в ходе которой
          тщательно очищаем поверхность зубов со всех сторон. Затем укрепляем эмаль фтором и кальцием.</p>
        <p class="children-service__text">Даже если ребенок с раннего возраста приучен регулярно чистить зубы, в
          домашних условиях полностью убрать налет практически невозможно. Он остается в труднодоступных местах и
          может вызывать кариес. Для профилактики кариеса мы проводим профессиональную гигиену, в ходе которой
          тщательно очищаем поверхность зубов со всех сторон. Затем укрепляем эмаль фтором и кальцием.</p>

        <div class="children-service__btns">
          <include src="components/btn-form-consultation.html">
            {
            "class": "btn--full-w",
            "name": "Онлайн-консультация"
            }
          </include>
          <include src="components/btn-form-appointment.html">
            {
            "class": "btn--full-w btn--dark",
            "text": "Записаться на прием"
            }
          </include>
        </div>
      </div>
    </article>
    <article id="service-4" class="children-service  children-service--accordion  accordion js-accordion">
      <h2 class="children-service__title  accordion__head">
        <button class="accordion__btn  js-accordion-btn" type="button" aria-expanded="false">Услуга №4<span
          class="accordion__icon"></span>
        </button>
      </h2>

      <div class="accordion__body  js-accordion-content">
        <ul class="children-service__list  children-list  list-unstyled">
          <li class="children-list__item">Очищение поверхности зубов</li>
          <li class="children-list__item">Герметизация фиссур</li>
          <li class="children-list__item">Укрепление эмали фтором</li>
        </ul>
        <p class="children-service__text">Даже если ребенок с раннего возраста приучен регулярно чистить зубы, в
          домашних условиях полностью убрать налет практически невозможно. Он остается в труднодоступных местах и
          может вызывать кариес. Для профилактики кариеса мы проводим профессиональную гигиену, в ходе которой
          тщательно очищаем поверхность зубов со всех сторон. Затем укрепляем эмаль фтором и кальцием.</p>
        <p class="children-service__text">Даже если ребенок с раннего возраста приучен регулярно чистить зубы, в
          домашних условиях полностью убрать налет практически невозможно. Он остается в труднодоступных местах и
          может вызывать кариес. Для профилактики кариеса мы проводим профессиональную гигиену, в ходе которой
          тщательно очищаем поверхность зубов со всех сторон. Затем укрепляем эмаль фтором и кальцием.</p>
        <p class="children-service__text">Даже если ребенок с раннего возраста приучен регулярно чистить зубы, в
          домашних условиях полностью убрать налет практически невозможно. Он остается в труднодоступных местах и
          может вызывать кариес. Для профилактики кариеса мы проводим профессиональную гигиену, в ходе которой
          тщательно очищаем поверхность зубов со всех сторон. Затем укрепляем эмаль фтором и кальцием.</p>

        <div class="children-service__btns">
          <include src="components/btn-form-consultation.html">
            {
            "class": "btn--full-w",
            "name": "Онлайн-консультация"
            }
          </include>
          <include src="components/btn-form-appointment.html">
            {
            "class": "btn--full-w btn--dark",
            "text": "Записаться на прием"
            }
          </include>
        </div>
      </div>
    </article>
  </div>
</section>
