.btn-to-top {
  position: absolute;
  left: var(--page-gap);
}

#btn-to-top.btn-to-top {
  position: fixed;
  bottom: var(--page-gap);
  transform: translateX(-500px);
  z-index: 5;
}

.btn-to-top .btn__icon-new {
  --image: url("/images/icons/arrow.svg");

  width: 8px;
  height: 16px;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .btn-to-top {
    left: 20px;
  }

  #btn-to-top.btn-to-top {
    bottom: 20px;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop) {
  .btn-to-top {
    left: 40px;
  }

  #btn-to-top.btn-to-top {
    bottom: 40px;
  }
}
