.btn-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: var(--c-blue-deep);
  background-color: #e1e1e8;
  border-radius: 50%;

  transition-property: color, background-color;
  transition-duration: var(--trans-dur);
}

.btn-slider:hover {
  color: #fff;
  background-color: var(--c-blue-deep);
}

.btn-slider__icon {
  fill: currentColor;
}

.btn-slider .circle-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(90deg) scale(-1);
  stroke: currentColor;

  stroke-dashoffset: 1000; /* 1000 = прогресс 0% /--/ 849 = 100% */
  stroke-dasharray: 1000;
}

.btn-slider--next {
  transform: rotate(180deg);
}

/* TODO: убрать 'btn-slider' и оставить только 'slider-btn' */
.slider-controls {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.slider-pagination {
  display: inline-block;
  min-width: 50px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}

.slider-controls .slider-pagination {
  grid-column: 2/3;
}

.slider-btn {
  --bg-color: var(--c-blue-sky);
  --icon-color: var(--c-blue-deep);

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: var(--c-blue-deep);
  background-color: var(--bg-color);
  border-radius: 50%;

  transition-property: color, background-color, opacity;
  transition-duration: var(--trans-dur);
}

.slider-btn--dark {
  --bg-color: var(--c-blue-deep);
  --icon-color: #fff;
}

.slider-btn::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--icon-color);
  mask: url("/images/icons/chevron.svg") no-repeat center 21px/12px;
  transform: rotate(90deg);
}

.slider-btn--prev::after {
  transform: rotate(-90deg);
}

.slider-btn:hover {
  --bg-color: var(--c-blue-deep);
  --icon-color: #fff;

  color: #fff;
}

.slider-btn--hover-pink:hover {
  --bg-color: var(--c-pink);
  --icon-color: #fff;
}

.slider-btn--dark:hover {
  --bg-color: var(--c-pink);
}

.slider-btn .circle-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(90deg) scale(-1);
  stroke: currentColor;

  stroke-dashoffset: 1000; /* 1000 = прогресс 0% /--/ 849 = 100% */
  stroke-dasharray: 1000;
}
