.btn {
  --pd-x: 42px;
  --color: var(--c-blue-deep);
  --bg-c: #fff;
  --bdrs: 100px;

  display: inline-grid;
  grid-auto-flow: column;
  grid-column-gap: 16px;
  justify-content: center;
  align-items: center;

  width: auto;
  padding: 16px var(--pd-x);

  font-size: 16px;
  line-height: 1.2em;
  font-weight: 500;
  text-align: center;

  color: var(--color);
  background-color: var(--bg-c);
  border: 1px solid var(--bg-c);
  border-radius: var(--bdrs);

  transition-property: color, background-color, border-color;
  transition-duration: var(--trans-dur);
}

.btn:not(.btn--no-hover):hover {
  --color: #fff;
  --bg-c: var(--c-pink);
}

.btn--full-w {
  width: 100%;
}

.btn--tight {
  --pd-x: 25px;
}

.btn--dark {
  --color: #fff;
  --bg-c: var(--c-blue-deep);
}

.btn--aqua {
  --color: #fff;
  --bg-c: var(--c-aqua);
}

.btn--pink {
  --color: #fff;
  --bg-c: var(--c-pink);
}

.btn--blue-sky {
  --color: var(--c-blue-deep-darken);
  --bg-c: var(--c-blue-sky);
}

.btn--aqua:not(.btn--no-hover):hover,
.btn--pink:not(.btn--no-hover):hover {
  /*--color: var(--c-deep-blue);*/
  --bg-c: var(--c-blue-deep);
}

.btn--dark-hover:not(.btn--no-hover):hover {
  --color: #fff;
  --bg-c: var(--c-blue-deep);
}

.btn--white-hover:not(.btn--no-hover):hover {
  --color: var(--c-blue-deep);
  --bg-c: #fff;
}

.btn--sky-hover:not(.btn--no-hover):hover {
  --color: var(--c-blue-deep);
  --bg-c: var(--c-blue-sky);
}

.btn--circle {
  --bdrs: 50%;

  width: 50px;
  height: 50px;
  padding: 0;
}

.btn--center-sm {
  display: grid;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.btn--outline {
  --pd-x: 20px;
  --color: #fff;
  --bg-c: var(--color);

  background-color: transparent;
}

.btn--outline:not(.btn--no-hover):hover {
  background-color: var(--bg-c);
}

.btn--outline.btn--dark {
  --color: var(--c-blue-deep);
  --bg-c: var(--color);
}

/* .btn--outline.btn--dark:not(.btn--no-hover):hover {} */

.btn__icon-new {
  --image: url("");
  --bg-c: currentColor;
  --bg-hover-c: currentColor;

  background-color: var(--bg-c);
  mask-image: var(--image);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.btn:not(.btn--no-hover):hover .btn__icon-new {
  background-color: var(--bg-hover-c);
}

.btn__icon {
  fill: currentColor;
}

.btn__icon--lg {
  margin-top: -3px;
  margin-bottom: -3px;
}

.btn--no-icon .btn__icon {
  display: none;
}

.btn__icon--rotate-90 {
  transform: rotate(-90deg);
}

.btn__icon--rotate-180 {
  transform: rotate(180deg);
}

/* фикс для браузеров, которые не поддерживают grid в button */
.btn__wrapper {
  display: inline-grid;
  grid-auto-flow: column;
  grid-column-gap: 16px;
  justify-content: center;
  align-items: center;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--only-mobile) {
  .btn--dark-sm {
    --color: #fff;
    --bg-c: var(--c-blue-deep);
  }

  .btn__icon {
    display: none;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet) {
  .btn:not(.btn--circle) {
    width: max-content;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .btn-top {
    --alpha: 0.4;

    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    grid-column-gap: 18px;
    width: 160px;

    background-color: rgba(255, 255, 255, var(--alpha));
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid rgba(224, 224, 224, var(--alpha));
    border-radius: 100px;

    transition-property: color, background-color;
    transition-duration: var(--trans-dur);
  }

  .btn-top__circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid rgba(224, 224, 224, 1);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: var(--trans-dur);
  }

  .btn-top:hover {
    background-color: rgba(51, 53, 112, var(--alpha));
    color: #fff;
  }

  .btn-top:hover .btn-top__circle {
    background-color: var(--c-blue-deep);
    transition-duration: calc(var(--trans-dur) * 2);
  }

  .btn--center-sm {
    margin-left: 0;
  }
}
