.list {
  --item-mb: 18px;

  margin: 0;
  padding-left: 30px;
  list-style: circle;
}

.list__item {
  margin-bottom: var(--item-mb);
  font-size: inherit;
  letter-spacing: var(--letter-spacing);
}

.list__item::marker {
  color: var(--c-pink);
}

.list__item:last-child {
  margin-bottom: 0;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop) {
  .list__item:hover a {
    color: var(--c-pink);
    transition: color var(--trans-dur);
  }
}
