.page-main {
  padding-top: var(--page-top-gap);
  padding-left: var(--page-gap);
  padding-right: var(--page-gap);
}

.page-main--information {
  max-width: 1530px;
  margin-right: auto;
  margin-left: auto;
}

@media (--tablet-lg) and (max-height: 100px) {
  .page-main--sitemap {
    min-height: 100vh;
  }
}
