.scrollbar-track {
  width: 2px !important;
  background-color: var(--c-sky-blue) !important;
}

.scrollbar-thumb {
  width: 100% !important;
  background-color: var(--c-deep-blue) !important;
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet) {
  html:not(.js-touch-screen) .scrollbar-track {
    width: 8px !important;
  }
}
