.block-feedback {
  position: relative;
  margin-bottom: 50px;
  padding: 0 var(--page-gap);
  overflow: hidden;
}

.block-feedback__title {
  position: relative;
  z-index: 2;
  margin-bottom: 28px;
  font-size: 26px;
  letter-spacing: var(--letter-spacing);
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .block-feedback {
    margin-bottom: 100px;
    padding: 0 var(--deep-gap);
  }

  .block-feedback__title {
    margin-bottom: 100px;
    font-size: 36px;
    text-transform: uppercase;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-md) {
  .block-feedback {
    margin-bottom: 195px;
  }
}
