.feedback-slider {
  position: relative;
  z-index: 1;
}

.feedback-slider__bg-circle {
  position: absolute;
  top: -50px;
  right: -65px;
  width: 240px;
  height: 240px;
  background: linear-gradient(176.17deg, #9cccf8 27.76%, #7dc0ff 54.82%);
  border-radius: 50%;
}

.feedback-slider__controls {
  position: absolute;
  top: 100vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;

  display: grid;
  grid-auto-flow: column;
  grid-column-gap: 20px;
  align-items: center;
  width: max-content;
}

.feedback-slider__pagination {
  grid-column: 2/3;
  font-size: 14px;
  font-weight: 500;
}

.feedback-slider__btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: var(--c-deep-blue);
  background-color: #e1e1e8;
  border-radius: 50%;

  transition-property: color, background-color;
  transition-duration: var(--trans-dur);
}

.feedback-slider__btn:hover {
  color: #fff;
  background-color: var(--c-deep-blue);
}

.feedback-slider__btn--next .icon,
.feedback-slider__btn--prev .icon {
  transform: translateX(2px);
}

.feedback-slider__btn .icon {
  fill: currentColor;
}

.feedback-slider__btn .circle-progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(90deg) scale(-1);
  stroke: currentColor;

  stroke-dashoffset: 1000; /* 1000 = прогресс 0% /--/ 849 = 100% */
  stroke-dasharray: 1000;
}

.feedback-slider__btn--next {
  transform: rotate(180deg);
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet) {
  .feedback-slider__bg-circle {
    right: 50px;
  }

  .feedback-slider__controls {
    top: 75vw; /* ~ высота .feedback-card__img */
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .feedback-slider {
    padding: 0 var(--inner-gap);
  }

  .feedback-slider__bg-circle {
    top: 8px;
    left: 0;
  }

  .feedback-slider__controls {
    top: auto;
    bottom: 0;
    left: calc(var(--inner-gap) - 25px); /* 25px === btnWidth(50px) / 2 */
    transform: none;

    grid-column-gap: 30px;
    grid-row-gap: 20px;
  }

  .feedback-slider__pagination {
    grid-row: 2/3;
  }

  .feedback-slider__btn--next {
    grid-column: 1/2;
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop-md) {
  .feedback-slider {
    --inner-gap: min(6.5vw, 122px);
  }

  .feedback-slider__bg-circle {
    left: min(2.2vw, 40px);
  }
}

/* noinspection CssInvalidMediaFeature */

/*@media screen and (--desktop-lg) {*/

/*  .feedback-slider__bg-circle {*/

/*    left: 40px;*/

/*  }*/

/*}*/
