.feedback-slider.swiper-container {
  overflow: visible;
}

.feedback-slider.swiper-container .feedback-list {
  margin-bottom: 0;
}

.feedback-slider.swiper-container .feedback-card {
  margin-bottom: 0;
}

/*
  TODO: возможно надо будет убрать.
  Данный фикс только если слайды сменяются через фейд
*/
.feedback-slider.swiper-container .swiper-slide:not(.swiper-slide-active) {
  opacity: 0 !important;
}
