.nav {
  margin-bottom: 30px;
}

.nav__item {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: var(--letter-spacing);
  
  border-bottom: 1px solid #e8e8e8;
}

.nav__item > * {
  display: block;
  padding: 15px 32px 15px;
}

.nav__sub-item {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
}

.nav__sub-item a {
  color: inherit;
}

.nav__sub-item:last-child {
  margin-bottom: 0;
}

.nav__accordion .accordion__trigger {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
}

.nav__accordion .accordion__trigger[aria-expanded='true'] {
  margin-bottom: 20px;
  opacity: 0.5;
}
