<main class="page-main  page-main--structure">
  <section class="welcome">
    <div class="welcome__image"></div>

    <div class="welcome__body">
      <h2 class="welcome__title">Структура нашей компании</h2>
      <p class="welcome__text">Лечение и восстановление зубов для нас - это не работа, а образ жизни. Мы оказываем
        квалифицированную помощь как взрослым пациентам в лечении разного уровня сложности, так и совсем малышам,
        которым нужна забота и положительный опыт.</p>

      <include src="components/btn-form-appointment.html">
        {
        "class": "btn--aqua btn--center-sm",
        "text": "Записаться на прием"
        }
      </include>
    </div>
  </section>

  <section class="structure-place  structure-place--sky">
    <div class="structure-place__wrapper">
      <h2 class="structure-place__title">Клиника “Щукинская”</h2>

      <div class="structure-place__top  js-scrolltrigger-fadein">
        <ul class="structure-place-contacts list-unstyled">
          <li><span class="structure-place-contacts__icon  structure-place-contacts__icon--marker"></span>Москва, ул.
            Щукинская, д. 2, под. 8
          </li>
          <li><span class="structure-place-contacts__icon  structure-place-contacts__icon--clock"></span>Пн-Вс: 09:00 –
            21:00
          </li>
          <li><span class="structure-place-contacts__icon  structure-place-contacts__icon--tel"></span><a
            href="tel:+79093913251">+7 (909) 391-32-51</a></li>
        </ul>

        <div class="structure-place-order">
          <ul class="structure-place-contacts list-unstyled">
            <li><span class="structure-place-contacts__icon  structure-place-contacts__icon--marker"></span>Москва, ул.
              Щукинская, д. 2, под. 8
            </li>
            <li>Пн-Вс: 09:00 – 21:00</li>
            <li><a href="tel:+79093913251">+7 (909) 391-32-51</a></li>
          </ul>

          <span class="structure-place-order__text"><span
            class="structure-place-order__text-bolder">Запишитесь на прием</span> или получите бесплатную <span
            class="structure-place-order__text-bolder">онлайн консультацию!</span></span>

          <div class="structure-place-order__btns">
            <include src="components/btn-form-consultation.html">
              {
              "class": "",
              "name": "Онлайн-консультация"
              }
            </include>

            <button class="btn btn--dark   js-form-open" type="button" data-type="appointment">
              <span class="btn__wrapper"><span class="xs">Записаться на прием</span><span class="md">На прием</span></span>
            </button>
          </div>
        </div>
      </div>

      <div class="structure-place__map  js-scrolltrigger-fadein">
        <div class="structure-place-direction">
          <h3 class="structure-place-direction__title">Как добраться</h3>

          <input type="radio" name="tab-0" id="radio-direction-metro-0" checked style="display: none;">
          <input type="radio" name="tab-0" id="radio-direction-car-0" style="display: none;">

          <ul class="structure-place-direction-tabs list-unstyled" role="tablist">
            <li class="structure-place-direction-tabs__item" role="presentation">
              <label for="radio-direction-metro-0" class="structure-place-direction-tabs__link" tabindex="0">На
                метро</label>
            </li>
            <li class="service-tabs__item" role="presentation">
              <label for="radio-direction-car-0" class="structure-place-direction-tabs__link" tabindex="0">На
                машине</label>
            </li>
          </ul>

          <section id="metro-0" class="structure-place-direction-content" role="tabpanel"
                   aria-labelledby="tab-A" aria-hidden="false">
            <div class="structure-place-direction-content__body">
              <div id="metro-0-text" class="wrapper truncate">
                <h3 class="structure-place-direction-content__title">От метро Щукинская</h3>
                <p>Автобус #015 или Автобус #030
                  М. ЩУКИНСКАЯ - (3 остановки) - Пехотная улица. (останавливается на Волоколамском шоссе, пройти прямо
                  метров 30, по ходу движения и повернуть направо, перейти через трамвайные пути)</p>

                <h3 class="structure-place-direction-content__title">От метро Сокол</h3>
                <p>Автобус #82, #412, #456, #904, #м1, #т70, #т80, #904к
                  М. СОКОЛ - (3 остановки) - Пехотная улица (останавливается на противоположной стороне на Волоколамском
                  шоссе, перейти через подземный переход, затем налево и направо, перейти через трамвайные пути)</p>

                <p>Станция МЦК "Стрешнево", выход в сторону красногорского проезда до Волоколамского шоссе, повернуть
                  направо, дойти до подземного перехода и перейти на другую сторону. Из перехода налево до трамвайных
                  путей,
                  далее по пешеходном 121 к ЖК комплексу "Доминанта"</p>

                <p>ул Щукинская, д. 2, 8-й подъезд, в торце дома напротив остановки трамвая рядом с въездом в подземный
                  паркинг, левая коричневая дверь, в фойе направо белая дверь.</p>
              </div>

              <button class="structure-place-direction-content__collapse" type="button" aria-controls="metro-0-text"
                      aria-expanded="false">смотреть подробнее
              </button>
            </div>

            <div class="structure-place-direction-content__btns">
              <button class="btn  btn--pink  js-video-modal-open" type="button" data-id="0" data-type="0"><span
                class="btn__icon-new  icon-play"></span>Как проехать?
              </button>
              <div class="link-wrapper">
                <a
                  href="https://yandex.ru/maps/213/moscow/?ll=37.483355%2C55.810011&mode=routes&rtext=~55.810010%2C37.483355&rtt=mt&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fll%3D37.482%252C55.810%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%259C%25D0%25BE%25D1%2581%25D0%25BA%25D0%25B2%25D0%25B0%252C%2520%25D0%25A9%25D1%2583%25D0%25BA%25D0%25B8%25D0%25BD%25D1%2581%25D0%25BA%25D0%25B0%25D1%258F%2520%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%252C%25202%252C%2520%25D0%25BF%25D0%25BE%25D0%25B4%25D1%258A%25D0%25B5%25D0%25B7%25D0%25B4%25208%2520%257B3294191725%257D&z=18.82"
                  class="btn  btn--blue-sky" target="_blank" ref="nofollow noopener"><span
                  class="btn__icon-new icon-marker"></span>Построить маршрут</a>
                <span class="link-wrapper__describe">откроется Яндекс.Карта</span>
              </div>
            </div>
          </section>

          <section id="car-0" class="structure-place-direction-content" data-type="1"
                   role="tabpanel"
                   aria-labelledby="tab-B"
                   aria-hidden="true">
            <div class="structure-place-direction-content__body">
              <div id="car-0-text" class="wrapper truncate">
                <h3 class="structure-place-direction-content__title">Как проехать на машине</h3>
                <p>Москва, ул.Щукинская, д. 2, под. 8, левая дверь.</p>
                <p>Въезд со стороны улицы Пехотная, подъезд на углу дома ближе к Волоколамскому шоссе. Вам нужна левая
                  дверь, далее поднимаетесь вверх по лестнице, с правой стороны стеклянная дверь с надписью «клиника
                  Iceberg»</p>
              </div>

              <button class="structure-place-direction-content__collapse" type="button" aria-controls="car-0-text"
                      aria-expanded="false">смотреть подробнее
              </button>
            </div>

            <div class="structure-place-direction-content__btns">
              <button class="btn  btn--pink  js-video-modal-open" type="button"  data-id="0" data-type="1"><span
                class="btn__icon-new  icon-play"></span>Как проехать?
              </button>
              <div class="link-wrapper">
                <a
                  href="https://yandex.ru/maps/213/moscow/?ll=37.483355%2C55.810011&mode=routes&rtext=~55.810010%2C37.483355&rtt=auto&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fll%3D37.482%252C55.810%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%259C%25D0%25BE%25D1%2581%25D0%25BA%25D0%25B2%25D0%25B0%252C%2520%25D0%25A9%25D1%2583%25D0%25BA%25D0%25B8%25D0%25BD%25D1%2581%25D0%25BA%25D0%25B0%25D1%258F%2520%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%252C%25202%252C%2520%25D0%25BF%25D0%25BE%25D0%25B4%25D1%258A%25D0%25B5%25D0%25B7%25D0%25B4%25208%2520%257B3294191725%257D&z=18.82"
                  class="btn  btn--blue-sky" target="_blank" ref="nofollow noopener"><span
                  class="btn__icon-new icon-marker"></span>Построить маршрут</a>
                <span class="link-wrapper__describe">откроется Яндекс.Карта</span>
              </div>
            </div>
          </section>
        </div>

        <div class="structure-place-map">
          <div class="structure-place-map__container">
            <div id="map-0" class="structure-place-map__map"></div>
          </div>
          <div id="map-0-controls" class="structure-place-map__btns">
            <button class="btn  btn--circle  btn--blue-sky  btn--minus" type="button"><span
              class="btn__icon-new"></span></button>
            <button class="btn  btn--circle  btn--blue-sky  btn--plus" type="button"><span class="btn__icon-new"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="structure-place  structure-place--mirror">
    <div class="structure-place__wrapper">
      <h2 class="structure-place__title">Клиника “Октябрьская”</h2>

      <div class="structure-place__top  js-scrolltrigger-fadein">
        <ul class="structure-place-contacts list-unstyled">
          <li><span class="structure-place-contacts__icon  structure-place-contacts__icon--marker"></span>Якиманка
            район, ул. Крымский Вал, 3 ст2 (этаж 1, помещение 1, офис 101)
          </li>
          <li><span class="structure-place-contacts__icon  structure-place-contacts__icon--clock"></span>Пн-Вс: 09:00 –
            21:00
          </li>
          <li><span class="structure-place-contacts__icon  structure-place-contacts__icon--tel"></span><a
            href="tel:+79093913251">+7 (909) 391-32-51</a></li>
        </ul>

        <div class="structure-place-order">
          <ul class="structure-place-contacts list-unstyled">
            <li><span class="structure-place-contacts__icon  structure-place-contacts__icon--marker"></span>Якиманка
              район, ул. Крымский Вал, 3 ст2 (этаж 1, помещение 1, офис 101)
            </li>
            <li>Пн-Вс: 09:00 – 21:00</li>
            <li><a href="tel:+79093913251">+7 (909) 391-32-51</a></li>
          </ul>

          <span class="structure-place-order__text"><span
            class="structure-place-order__text-bolder">Запишитесь на прием</span> или получите бесплатную <span
            class="structure-place-order__text-bolder">онлайн консультацию!</span></span>

          <div class="structure-place-order__btns">
            <include src="components/btn-form-consultation.html">
              {
              "class": "",
              "name": "Онлайн-консультация"
              }
            </include>

            <button class="btn btn--dark  js-form-open" type="button" data-type="appointment">
              <span class="btn__wrapper"><span class="xs">Записаться на прием</span><span class="md">На прием</span></span>
            </button>
          </div>
        </div>
      </div>

      <div class="structure-place__map  js-scrolltrigger-fadein">
        <div class="structure-place-direction">
          <h3 class="structure-place-direction__title">Как добраться</h3>

          <input type="radio" name="tab-1" id="radio-direction-metro-1" checked style="display: none;">
          <input type="radio" name="tab-1" id="radio-direction-car-1" style="display: none;">

          <ul class="structure-place-direction-tabs list-unstyled" role="tablist">
            <li class="structure-place-direction-tabs__item" role="presentation">
              <label for="radio-direction-metro-1" class="structure-place-direction-tabs__link" tabindex="0">На
                метро</label>
            </li>
            <li class="service-tabs__item" role="presentation">
              <label for="radio-direction-car-1" class="structure-place-direction-tabs__link" tabindex="0">На
                машине</label>
            </li>
          </ul>

          <section id="metro-1" class="structure-place-direction-content" role="tabpanel"
                   aria-labelledby="tab-A" aria-hidden="false">
            <div class="structure-place-direction-content__body">
              <div id="metro-1-text" class="wrapper truncate">
                <h3 class="structure-place-direction-content__title">От метро Щукинская</h3>
                <p>Автобус #015 или Автобус #030
                  М. ЩУКИНСКАЯ - (3 остановки) - Пехотная улица. (останавливается на Волоколамском шоссе, пройти прямо
                  метров 30, по ходу движения и повернуть направо, перейти через трамвайные пути)</p>

                <h3 class="structure-place-direction-content__title">От метро Сокол</h3>
                <p>Автобус #82, #412, #456, #904, #м1, #т70, #т80, #904к
                  М. СОКОЛ - (3 остановки) - Пехотная улица (останавливается на противоположной стороне на Волоколамском
                  шоссе, перейти через подземный переход, затем налево и направо, перейти через трамвайные пути)</p>

                <p>Станция МЦК "Стрешнево", выход в сторону красногорского проезда до Волоколамского шоссе, повернуть
                  направо, дойти до подземного перехода и перейти на другую сторону. Из перехода налево до трамвайных
                  путей,
                  далее по пешеходном 121 к ЖК комплексу "Доминанта"</p>

                <p>ул Щукинская, д. 2, 8-й подъезд, в торце дома напротив остановки трамвая рядом с въездом в подземный
                  паркинг, левая коричневая дверь, в фойе направо белая дверь.</p>
              </div>

              <button class="structure-place-direction-content__collapse" type="button" aria-controls="metro-1-text"
                      aria-expanded="false">смотреть подробнее
              </button>
            </div>

            <div class="structure-place-direction-content__btns">
              <button class="btn  btn--pink    js-video-modal-open" type="button"  data-id="1" data-type="0"><span
                class="btn__icon-new  icon-play"></span>Как проехать?
              </button>
              <div class="link-wrapper">
                <a
                  href="https://yandex.ru/maps/213/moscow/?ll=37.609173%2C55.729316&mode=routes&rtext=~55.729316%2C37.609173&rtt=mt&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fll%3D37.609%252C55.729%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%259C%25D0%25BE%25D1%2581%25D0%25BA%25D0%25B2%25D0%25B0%252C%2520%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%2520%25D0%259A%25D1%2580%25D1%258B%25D0%25BC%25D1%2581%25D0%25BA%25D0%25B8%25D0%25B9%2520%25D0%2592%25D0%25B0%25D0%25BB%252C%25203%25D1%25812&z=16"
                  class="btn  btn--blue-sky  btn--dark-hover" target="_blank" ref="nofollow noopener"><span
                  class="btn__icon-new icon-marker"></span>Построить маршрут</a>
                <span class="link-wrapper__describe">откроется Яндекс.Карта</span>
              </div>
            </div>
          </section>

          <section id="car-1" class="structure-place-direction-content" data-type="1"
                   role="tabpanel"
                   aria-labelledby="tab-B"
                   aria-hidden="true">
            <div class="structure-place-direction-content__body">
              <div id="car-1-text" class="wrapper truncate">
                <p>Парковка: во дворе дома 36, стр.1 (это здание Согласие Hall) находится бесплатный охраняемый паркинг.
                  Заезд на парковку с Проспекта Мира (двигаясь из центра). Парковочное место необходимо заказать при
                  записи, назвав администратору номер машины. </p>
              </div>

              <button class="structure-place-direction-content__collapse" type="button" aria-controls="car-1-text"
                      aria-expanded="false">смотреть подробнее
              </button>
            </div>

            <div class="structure-place-direction-content__btns">
              <button class="btn  btn--pink  js-video-modal-open" type="button"  data-id="1" data-type="1"><span
                class="btn__icon-new  icon-play"></span>Как проехать?
              </button>
              <div class="link-wrapper">
                <a
                  href="https://yandex.ru/maps/213/moscow/?ll=37.609173%2C55.729316&mode=routes&rtext=~55.729316%2C37.609173&rtt=auto&ruri=~ymapsbm1%3A%2F%2Fgeo%3Fll%3D37.609%252C55.729%26spn%3D0.001%252C0.001%26text%3D%25D0%25A0%25D0%25BE%25D1%2581%25D1%2581%25D0%25B8%25D1%258F%252C%2520%25D0%259C%25D0%25BE%25D1%2581%25D0%25BA%25D0%25B2%25D0%25B0%252C%2520%25D1%2583%25D0%25BB%25D0%25B8%25D1%2586%25D0%25B0%2520%25D0%259A%25D1%2580%25D1%258B%25D0%25BC%25D1%2581%25D0%25BA%25D0%25B8%25D0%25B9%2520%25D0%2592%25D0%25B0%25D0%25BB%252C%25203%25D1%25812&z=16.82"
                  class="btn  btn--blue-sky  btn--dark-hover" target="_blank" ref="nofollow noopener"><span
                  class="btn__icon-new icon-marker"></span>Построить маршрут</a>
                <span class="link-wrapper__describe">откроется Яндекс.Карта</span>
              </div>
            </div>
          </section>
        </div>

        <div class="structure-place-map">
          <div class="structure-place-map__container">
            <div id="map-1" class="structure-place-map__map"></div>
          </div>
          <div id="map-1-controls" class="structure-place-map__btns">
            <button class="btn  btn--circle  btn--blue-sky  btn--minus" type="button"><span
              class="btn__icon-new"></span></button>
            <button class="btn  btn--circle  btn--blue-sky  btn--plus" type="button"><span class="btn__icon-new"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
