.block-team {
  margin-bottom: 40px;
  padding: 0 var(--page-gap) 40px;
  background-color: var(--c-light-blue);
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--tablet-lg) {
  .block-team {
    display: grid;
    grid-template-columns: 620px;
    grid-gap: 40px;
    justify-content: center;
    align-items: center;
    margin-bottom: 180px;
    padding: 110px var(--deep-gap);
  }
  
  .block-team .content {
    padding-left: min(3vw, 56px);
    padding-right: min(3vw, 56px);
  }
}

/* noinspection CssInvalidMediaFeature */
@media screen and (--desktop) {
  .block-team {
    grid-template-columns: min(45%, 500px) 1fr;
    grid-gap: 100px;
  }
  
  .block-team__slider {
    grid-column: 2/3;
  }
  
  .block-team .content {
    grid-row: 1/2;
  }
}
