.about-hero-carousel {
  width: 100%;
}

.about-hero-carousel__controls {
  display: grid;
  grid-auto-flow: column;
  gap: 20px;
  justify-content: center;
  margin-bottom: 26px;
}

.about-hero-carousel .slider-btn {
  --bg-color: #fff;
}

.about-hero-carousel .slider-btn:hover {
  --bg-color: var(--c-blue-deep);
}

.about-hero-carousel__slide {
  opacity: 0 !important;
}

.about-hero-carousel__slide.swiper-slide-active {
  opacity: 1 !important;
}

.image-wrapper {
  --ratio: calc(134 / 375 * 100%);

  position: relative;
  width: 100%;
  height: 0;
  padding-top: var(--ratio);
}

.image-wrapper img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 1520px;
  height: 100%;
  object-fit: contain;
  object-position: bottom;
}

/* noinspection CssInvalidMediaFeature */
@media (--tablet-lg) {
  .about-hero-carousel {
    position: relative;
  }

  .about-hero-carousel__controls {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  .image-wrapper {
    --ratio: calc(552 / 1528 * 100%);
  }
}

/* noinspection CssInvalidMediaFeature */
@media (--only-mobile-tablet) {
  .about-hero-carousel .slider-btn {
    --bg-color: rgba(255, 255, 255, 0.1);
    --icon-color: #fff;

    color: #fff;
  }
}
