.welcome {
  margin-bottom: 72px;
}

.welcome__image {
  width: 100%;
  max-width: 274px;
  height: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 70px;
  padding-top: 100%;
  background: url("/images/structure/logo.jpg") no-repeat center/contain;
}

.welcome__title {
  position: relative;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

.welcome__title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 186px;
  height: 112px;
  background: url("/images/structure/title-bg.jpg") no-repeat center/contain;
  z-index: -1;
}

.welcome__text {
  margin-bottom: 32px;
  line-height: 1.5;
  text-align: center;
}

/* noinspection CssInvalidMediaFeature */
@media (--tablet-lg) {
  .welcome {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 100px;
    align-items: center;
  }

  .welcome__image {
    margin-bottom: 0;
    padding: 0;
    width: 400px;
    max-width: 100%;
    height: 589px;
    background-image: image-set(url("/images/structure/logo.jpg") 1x, url("/images/structure/logo@2x.jpg") 2x);
    transform: translateY(20px);
  }

  .welcome__body {
    transform: translateY(15px);
  }

  .welcome__title {
    font-size: 44px;
    font-weight: 700;
    letter-spacing: var(--letter-spacing);
    text-align: left;
  }

  .welcome__title::before {
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    width: calc(411px * 0.6);
    height: calc(248px * 0.6);
  }

  .welcome__text {
    margin-bottom: 40px;
    text-align: left;
  }
}

/* noinspection CssInvalidMediaFeature */
@media (--tablet-lg) and (max-height: 1100px) {
  .welcome {
    min-height: calc(100vh - var(--page-top-gap));
    margin-bottom: 0;
    padding-bottom: var(--page-top-gap);
  }
}

/* noinspection CssInvalidMediaFeature */
@media (--desktop-md) {
  .welcome {
    gap: 160px;
  }

  .welcome__image {
    width: 491px;
    transform: translateX(50px);
  }

  .welcome__title {
    font-size: 64px;
  }

  .welcome__title::before {
    width: calc(411px * 0.8);
    height: calc(248px * 0.8);
  }
}

/* noinspection CssInvalidMediaFeature */
@media (--desktop-lg) {
  .welcome {
    @apply --wrapper;

    margin-right: auto;
    margin-left: auto;
  }

  .welcome__image {
    width: 591px;
  }

  .welcome__title::before {
    width: calc(411px * 1);
    height: calc(248px * 1);
  }
}
