<section class="block-quote">
  <div class="block-quote__gradient"></div>
  <div class="block-quote__bg-img"></div>

  <div class="block-quote__body">
    <h2 class="block-quote__title">Онлайн-консультация с врачом!</h2>
    <p class="block-quote__describe">Запишитесь на бесплатную онлайн-консультацию с доктором, где вас проконсультируют
      по вашим вопросам!</p>

    <include src="components/btn-to-form-1.html" locals='{
        "class": "",
        "name": "Записаться на консультацию"
    }'></include>
  </div>
</section>
