<section class="block-video  js-scrolltrigger-fadein">
  <div class="block-video__wrapper">
    <div class="block-video__bg-video">
      <video loop muted playsinline>
        <!--      <source type="video/webm" src="./videos/avocado_oil.webm" media="all and (max-width: 480px)">-->
        <source type="video/webm" src="./videos/avocado_oil.webm">
        <source type="video/mp4" src="./videos/avocado_oil.mp4">
      </video>
    </div>

    <video class="block-video__video" src="" controls preload="none" data-src="./videos/RickRoll.mp4" data-webm="./videos/RickRoll.webm"></video>

    <div class="block-video__body">
      <h2 class="block-video__title">Познакомьтесь с нашей клиникой еще до посещения!</h2>
      <button class="btn  js-btn-fullscreen" type="button">
        <span class="btn__wrapper">
          <svg class="btn__icon  btn__icon--lg" width="22" height="22"><path fill-rule="evenodd" clip-rule="evenodd" d="M20.8 11c0 5.412-4.388 9.8-9.8 9.8-5.412 0-9.8-4.388-9.8-9.8 0-5.412 4.388-9.8 9.8-9.8 5.412 0 9.8 4.388 9.8 9.8zm1.2 0c0 6.075-4.925 11-11 11S0 17.075 0 11 4.925 0 11 0s11 4.925 11 11zM10 8.113l4 2.31a.667.667 0 010 1.154l-4 2.31a.667.667 0 01-1-.578V8.691a.667.667 0 011-.578z"/></svg>
        Посмотреть видео</span>
      </button>
    </div>
  </div>
</section>
