<section class="block-founder  js-scrolltrigger-fadein">
  <div class="block-founder__img">
    <picture>
      <!--  Mobile  -->
      <source type="image/webp" media="(max-width: 500px)"
              srcset="images/founder-picture@2x.webp 2x, images/founder-picture.webp">
      <source media="(max-width: 500px)" srcset="images/founder-picture@2x.png 2x, images/founder-picture.png">
      <!--     Other     -->
      <source type="image/webp" srcset="images/founder-picture--large.webp 2x, images/founder-picture--large.webp">
      <source srcset="images/founder-picture--large.jpg 2x, images/founder-picture--large.jpg">
      <!--    Сюда можно вставлять ссылку на оригинал      -->
      <img class="block-founder__picture" src="images/founder-picture.png" width="455" height="611" alt=""
           loading="lazy">
    </picture>
  </div>
  <div class="block-founder__body">
    <h2 class="block-founder__title">Обращение владельцев</h2>
    <p class="block-founder__text">Главный показатель доверия нам — это большое количество пациентов, которые приходят
      на лечение зубов во сне по рекомендации.</p>
    <p class="block-founder__text">Это значит, что у нас безопасно и комфортно. Главный показатель доверия нам — это
      большое количество пациентов, которые приходят на лечение зубов во сне по рекомендации.</p>

    <include src="components/describe-list.html"></include>

    <a href="#" class="btn btn--dark  btn--center-sm">Вся команда</a>
  </div>
</section>
