<section class="block-hero">
  <div class="block-hero__teeth">
    <include src="home/teeth.html"></include>
  </div>

  <div class="block-hero__body">
    <h2 class="block-hero__title">Лечим зубы надёжно!</h2>
    <p class="block-hero__text">Вернем вашу прежнюю улыбку после травмы зубов или создадим улыбку, о которой вы мечтали!</p>

    <ul class="block-hero__list  list  list-unstyled">
      <li class="list__item">более 20 000 довольных клиентов</li>
      <li class="list__item">команда из 50 преданных делу специалистов</li>
      <li class="list__item">7 лет успешной работы</li>
    </ul>

    <include src="components/btn-form-appointment.html" locals='{"class": "btn--aqua  btn--center-sm"}'></include>
  </div>
</section>
