<section class="quote-banner  js-scrolltrigger-fadein">
  <div class="quote-banner__noise"></div>
  <div class="quote-banner__conner">
    <svg fill="none" viewBox="0 0 75 53"><path fill="url(#paint0_linear)" d="M.5 0L75 52s-12-2-19.5-1.5c-4.1.27-16 1.99-25.5 1.5-7.9-.4-8.39.75-13.5-2.5-2.34-1.49-5-6-5-6s-3.07-6.95-4-11.5C6.52 27.22 7 22 6 17c-.52-2.62-.89-5.5-2-9C3.02 4.92.5 0 .5 0z"/><defs><linearGradient id="paint0_linear" x1="30.5" x2="-42.7" y1="-117" y2="-12.12" gradientUnits="userSpaceOnUse"><stop stop-color="#141430"/><stop offset="1" stop-color="#fff"/></linearGradient></defs></svg>
  </div>

  <div class="quote-banner__body">
    <h2 class="quote-banner__title">Онлайн-консультация с врачом!</h2>
    <p class="quote-banner__describe">Запишитесь на бесплатную онлайн-консультацию с доктором, где вас проконсультируют
      по вашим вопросам!</p>

    <include src="components/btn-form-consultation.html" locals='{
        "class": "btn--full-w",
        "name": "Записаться на консультацию"
    }'></include>
  </div>
</section>
