<section class="quote-banner  js-scrolltrigger-fadein">
  <div class="quote-banner__bg">
    <div class="quote-banner__noise"></div>
  </div>

  <div class="quote-banner__conner">
    <svg fill="none" viewBox="0 0 214 187">
      <path fill="url(#paint0_linear)"
            d="M214 0L0 183s11.96-3.5 29-3.5c47.5 0 98.96 22.12 133-10 22.5-21.23 19.5-70 31-117.5 7.27-30.04 21-52 21-52z"/>
      <defs>
        <linearGradient id="paint0_linear" x1="92.5" x2="124.5" y1="93" y2="131.5" gradientUnits="userSpaceOnUse">
          <stop stop-color="#D9D9D9"/>
          <stop offset="1" stop-color="#fff"/>
        </linearGradient>
      </defs>
    </svg>
  </div>

  <div class="quote-banner__body">
    <h2 class="quote-banner__title">Онлайн-консультация с врачом!</h2>
    <p class="quote-banner__describe">Запишитесь на бесплатную онлайн-консультацию с доктором, где вас проконсультируют
      по вашим вопросам!</p>

    <include src="components/btn-form-consultation.html" locals='{
        "class": "btn--full-w",
        "name": "Записаться на консультацию"
    }'></include>
  </div>
</section>
