<div id="teeth" class="teeth-container">
  <div class="teeth">
    <div class="teeth__main">
      <div class="teeth__icon-container">
        <div class="teeth__icon teeth__icon--1"></div>
        <div class="teeth__icon teeth__icon--2"></div>
        <div class="teeth__icon teeth__icon--3"></div>
        <div class="teeth__icon teeth__icon--4"></div>
        <div class="teeth__icon teeth__icon--5"></div>
        <div class="teeth__icon teeth__icon--6"></div>
      </div>
    </div>
    <div class="teeth__left-small"></div>
    <div class="teeth__top-right"></div>
    <div class="teeth__right-small"></div>
    <div class="teeth__top-left"></div>
    <div class="teeth__left"></div>
    <div class="teeth__right"></div>
  </div>

  <button class="teeth-btn btn" type="button" data-forward="Собрать" data-backward="Разобрать"><span class="btn__icon-new"></span> Собрать</button>
</div>
