<section class="block-feedback  js-scrolltrigger-fadein">
  <h2 class="block-feedback__title">Улыбки наших клиентов</h2>

  <div class="feedback-slider">
    <ul class="feedback-list  list-unstyled">
      <li class="feedback-list__item">
        <include
          src="home/feedback/feedback-card.html"
          locals='{
                "img": "__dev-img",
                "alt": "описание изображения",
                "caption": "подпись к изображению",
                "title": "Екатерина",
                "type": "Установка виниров",
                "text": "Очень доволен походом к врачу! Приятный персонал, обстановка тоже хорошая. Отдельное спасибо мужчине который занимался моими зубами. К сожалению, не помню имени. Удалял два зуба сделал все на высшечайшем уровне. Советую всем кто думает куда пойти, сам лично буду ходить только в эту клинику.",
                "dataId": "1"
              }'
        ></include>
      </li>

      <li class="feedback-list__item">
        <include
          src="home/feedback/feedback-card.html"
          locals='{
                "img": "__dev-img-2",
                "alt": "описание изображения",
                "caption": "подпись к изображению",
                "title": "Екатерина",
                "type": "Установка виниров",
                "text": "Очень доволен походом к врачу! Приятный персонал, обстановка тоже хорошая. Отдельное спасибо мужчине который занимался моими зубами. К сожалению, не помню имени. Удалял два зуба сделал все на высшечайшем уровне. Советую всем кто думает куда пойти, сам лично буду ходить только в эту клинику.",
                "dataId": "2"
              }'
        ></include>
      </li>
      <li class="feedback-list__item">
        <include
          src="home/feedback/feedback-card.html"
          locals='{
                "img": "__dev-img-3",
                "alt": "описание изображения",
                "caption": "подпись к изображению",
                "title": "Екатерина",
                "type": "Установка виниров",
                "text": "Очень доволен походом к врачу! Приятный персонал, обстановка тоже хорошая. Отдельное спасибо мужчине который занимался моими зубами. К сожалению, не помню имени. Удалял два зуба сделал все на высшечайшем уровне. Советую всем кто думает куда пойти, сам лично буду ходить только в эту клинику.",
                "dataId": "3"
              }'
        ></include>
      </li>
    </ul>

    <div class="feedback-slider__controls">
      <div class="feedback-slider__pagination"></div>

      <!--   TODO: Сделать иконки через инлайновый спрайт (как минимум 3 раза используется)   -->
      <button class="feedback-slider__btn  feedback-slider__btn--prev" type="button" aria-label="Предыдущий слайд">
        <svg class="icon" width="15" height="15">
          <rect width="1" height="10" rx=".5" transform="scale(1 -1) rotate(45 20.607 1.465)"/>
          <rect width="1" height="10" rx=".5" transform="scale(-1 1) rotate(-45 -3.035 9.743)"/>
        </svg>

      </button>
      <button class="feedback-slider__btn  feedback-slider__btn--next" type="button" aria-label="Следующий слайд">
        <svg class="icon" width="15" height="15">
          <rect width="1" height="10" rx=".5" transform="scale(1 -1) rotate(45 20.607 1.465)"/>
          <rect width="1" height="10" rx=".5" transform="scale(-1 1) rotate(-45 -3.035 9.743)"/>
        </svg>
        <svg class="circle-progress-bar" width="50" height="50">
          <circle cx="25" cy="25" r="24.6" fill="transparent" stroke-width="1"></circle>
        </svg>
      </button>

      <!--      <button class="feedback-slider__next" type="button">➡️</button>-->
      <!--      <button class="feedback-slider__prev" type="button">⬅️</button>-->
      <!--      <div class="feedback-slider__progress">-->
      <!--        <span class="feedback-slider__current"></span><span class="feedback-slider__total"></span>-->
      <!--      </div>-->
    </div>
  </div>
</section>
