<section class="block-services">
  <div class="block-services__container">
    <h2 class="block-services__title">Направления нашей клиники</h2>

    <ul class="block-services__list list-unstyled">
      <li class="block-services__item">
        <include
          src="home/services/service-card.html"
          locals='{
                "icon": "flower",
                "title": "Лечение зубов\n и эстетика",
                "describe": "Здоровье и красота на долгие годы. Создаем улыбку Вашей мечты."
              }'
        ></include>
      </li>

      <li class="block-services__item">
        <include
          src="home/services/service-card.html"
          locals='{
                "icon": "cup",
                "title": "Травматология",
                "describe": "Качественная травматология зубов. Изучаем травму перед тем, как начать стоматологическое лечение зуба."
                }'
        ></include>
      </li>

      <li class="block-services__item">
        <include
          src="home/services/service-card.html"
          locals='{
                "icon": "hand",
                "title": "Детская\n стоматология",
                "describe": "Качественная травматология зубов. Изучаем травму перед тем, как начать стоматологическое лечение зуба."
                }'
        ></include>
      </li>

      <li class="block-services__item">
        <include
          src="home/services/service-card.html"
          locals='{
                "icon": "apple",
                "title": "Исправление\n прикуса",
                "describe": "Предоставляем возможность открыто улыбаться, уверенно общаться, наслаждаться пищей. Результат долгие годы."
                }'
        ></include>
      </li>

      <li class="block-services__item">
        <include
          src="home/services/service-card.html"
          locals='{
                "icon": "teeth",
                "title": "Диагностика",
                "describe": "Проводим обследование на высокоточном оборудовании с  расшифровкой результатов  ведущим врачом-радиологом в клинике."
                }'
        ></include>
      </li>

      <li class="block-services__item">
        <include
          src="home/services/service-card.html"
          locals='{
                "icon": "castle",
                "title": "Протезирование",
                "describe": "Предоставляем возможность открыто улыбаться, уверенно общаться, наслаждаться пищей. Результат долгие годы."
                }'
        ></include>
      </li>

    </ul>

    <include src="home/catalog-banner.html"></include>
  </div>
</section>
